<form action="" method="get" role="form" id="filter-bar">

    <div class="col-xs-12 col-sm-3 col-md-2 col-md-offset-0">
        <p><strong>{{  'Kategorie' }}</strong></p>
        <div class="btn-group btn-block">
            <button type="button" class="form-control btn dropdown-toggle" data-toggle="dropdown">
                <span class="pull-left">Alle</span>
                <span class="fa fa-chevron-down pull-right"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><i class="fa fa-check pull-right"></i>{{ 'Betriebsmittelfinanzierung' }}</a></li>
                <li><a href="#">{{ 'Investition in Anlagevermögen' }}</a></li>
                <li><a href="#">{{ 'Wachstumkapital' }}</a></li>
                <li><a href="#">{{ 'Tilgung von Steuer-oder Versicherungsverbindlichkeiten' }}</a></li>
                <li><a href="#">{{ 'Sonstige' }}</a></li>
            </ul>
        </div>
    </div>

    <div class="desp-10 visible-xs hidden-sm hidden-md hidden-lg"></div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-md-offset-0 ui-custom-item">
        <p><strong>{{ 'Kreditbetrag' }}</strong></p>
        <div class="spacing-slider">
            <div id="slider-range-amount"></div>
        </div>
        <div class="text-center">
            <label for="amount"></label>
            <input type="text" id="amount" class="text-center text-slides" readonly>
        </div>
        <div class="desp-10 hidden-md hidden-lg"></div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-md-offset-0 ui-custom-item">
        <p><strong>{{ 'Zinssatz' }}</strong></p>
        <div class="spacing-slider">
            <div id="slider-range-interest"></div>
        </div>
        <div class="text-center">
            <label for="interest"></label>
            <input type="text" id="interest" class="text-center text-slides" readonly>
        </div>
        <div class="desp-10 hidden-md hidden-lg"></div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-3 col-md-offset-0 ui-custom-item">
        <p><strong>{{ 'Laufzeit' }}</strong></p>
        <div class="spacing-slider">
            <div id="slider-range-year"></div>
        </div>
        <div class="text-center">
            <label for="years"></label>
            <input type="text" id="years" class="text-center text-slides" readonly>
        </div>
        <div class="desp-10 hidden-md hidden-lg"></div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-offset-0 hidden-md hidden-lg">
        <div class="input-search">
            <i class="fa fa-search"></i>
            <input type="text" value="" name="search" class="form-control" placeholder="Suchen">
        </div>
    </div>

    <div class="desp-20 visible-xs hidden-sm hidden-md hidden-lg"></div>

    <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-0">
        <p class="desp-10 hidden-xs hidden-sm visible-md visible-lg"></p>
        <input type="submit" class="btn btn-block btn-primary" value="Filtern">
    </div>

    <div class="desp-20 visible-xs visible-sm hidden-md hidden-lg"></div>

</form>


