

    <div class="row">
        <div class="col-xs-12 cancel-padding">
            <h2 class="faux-h3">{{ 'Personliche Angaben' }}<small class="pull-right">* Pflichtfeld</small></h2>
        </div><!-- .col-xs-12 -->
    </div><!-- end .row -->

    <div class="row form-group">
        <div class="col-xs-12">
            <div class="radio-buttons">
                <input type="radio" class="hidden" value="male" name="lender_upgrade_gender" id="lender_upgrade_gender_m" required="required">
                <div class="custom-circle">
                    <!-- add .selected when user clicks -->
                    <span></span>
                </div>
                <label for="lender_upgrade_gender_m" class="required"> {{ 'Herr' }}</label>
            </div>
            <div class="radio-buttons">
                <input type="radio" class="hidden" value="female" name="lender_upgrade_gender" id="lender_upgrade_gender_f" required="required">
                <div class="custom-circle">
                    <!-- add .selected when user clicks -->
                    <span></span>
                </div>
                <label for="lender_upgrade_gender_f" class="required"> {{ 'Frau' }}</label>
            </div>
            <div class="clearfix"></div>
            <label for="lender_upgrade_gender" class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
        </div>
    </div><!-- end .row -->

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="lender_upgrade_first_name" class="required ">{{ 'Vorname(n)' }}</label>
                <input type="text" id="lender_upgrade_first_name" class="form-control" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="lender_upgrade_last_name" class="required ">{{ 'Nachname' }}</label>
                <input type="text" id="lender_upgrade_last_name" class="form-control" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div><!-- end .row -->

    <div class="row">
        <div class="col-xs-12 col-sm-9">
            <div class="form-group">
                <label for="lender_upgrade_street" class="required ">{{ 'Straße' }}</label>
                <input type="text" id="lender_upgrade_street" class="form-control" required="required" maxlength="200">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-3">
            <div class="form-group">
                <label for="lender_upgrade_street_number" class="required ">{{ 'Nummer' }}</label>
                <input type="text" id="lender_upgrade_street_number" class="form-control" required="required" maxlength="10">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div><!-- end .row -->

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="lender_upgrade_postal_code" class="required ">{{ 'Postleitzahl' }}</label>
                <input type="text" id="lender_upgrade_postal_code" class="form-control" required="required" maxlength="20">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8">
            <div class="form-group">
                <label for="lender_upgrade_city" class="required ">{{ 'Stadt' }}</label>
                <input type="text" id="lender_upgrade_city" class="form-control" required="required" maxlength="200">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div><!-- end .row -->

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="lender_upgrade_cellphone" class="required ">{{ 'Mobiltelefonnummer' }}</label>
                <input type="tel" id="lender_upgrade_cellphone" class="form-control" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="lender_upgrade_birthday" class="required ">{{ 'Geburtsdatum' }}</label>
                <input type="text" id="lender_upgrade_birthday" class="form-control" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div><!-- end .row -->

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="required">Select type of ID document</label>
                <select class="selectpicker show-tick" data-width="100%">
                    <option value="">Lorem ipsum</option>
                    <option value="">Lorem ipsum</option>
                    <option value="">Lorem ipsum</option>
                </select>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="lender_upgrade_id_number" class="required ">ID number</label>
                <input type="text" id="lender_upgrade_birthday" class="form-control" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div><!-- end .row -->

    <div class="row">

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="required">Select a profession</label>
                <select class="selectpicker show-tick" data-width="100%">
                    <option value="">Lorem ipsum</option>
                    <option value="">Lorem ipsum</option>
                    <option value="">Lorem ipsum</option>
                </select>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="required">Select your personal income per year</label>
                <select class="selectpicker show-tick" data-width="100%">
                    <option value="">Lorem ipsum</option>
                    <option value="">Lorem ipsum</option>
                    <option value="">Lorem ipsum</option>
                </select>
            </div>
        </div>
    </div><!-- end .row -->

    <div class="row">

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="required">Select a nationality</label>
                <select class="selectpicker show-tick" data-width="100%">
                    <option value="">Lorem ipsum</option>
                    <option value="">Lorem ipsum</option>
                    <option value="">Lorem ipsum</option>
                </select>
            </div>
        </div>
    </div><!-- end .row -->

    <div class="row">
        <div class="col-xs-12 cancel-padding">
            <h2 class="faux-h3">{{ 'Bankverbindung' }} <small class="pull-right">* Pflichtfeld</small></h2>
        </div>
    </div><!-- end .row -->

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-12">
            <div class="form-group">
                <label for="lender_upgrade_bank_account_holder" class="required ">{{ 'Kontoinhaber' }}</label>
                <input type="text" id="lender_upgrade_bank_account_holder" class="form-control" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div><!-- end .row -->

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="lender_upgrade_bank_account_number" class="required ">{{ 'IBAN' }}</label>
                <input type="text" id="lender_upgrade_bank_account_number" class="form-control" required="required" maxlength="22">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>

        {# ask Kajetan if here is this modal or not #}
        <!-- Button trigger modal -->
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="required">{{ 'Need help with your IBAN?' }}</label>
                <button type="button" id="lender-iban-modal" class="btn btn-block">{{ 'Need help with your IBAN?' }}</button>
            </div>
        </div>

        <div class="clearfix"></div>

    </div><!-- end .row -->

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="lender_upgrade_bank_account_typed_bic_code" class="required ">{{ 'BIC' }}</label>
                <input type="text" id="lender_upgrade_bank_account_typed_bic_code" class="form-control" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>

    </div><!-- end .row -->

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="checkbox-buttons">
                    <input type="checkbox" class="hidden" value="" name="lender_upgrade_bank_account_access_permit" id="lender_upgrade_bank_account_access_permit" required="required">
                    <div class="custom-square">
                        <span class="fa"></span> <!-- add class .fa-check when user clicks -->
                    </div>
                    <label for="lender_upgrade_bank_account_access_permit" class="required">
                        {{ 'Ich ermächtige die Zencap Connect GmbH Zahlungen von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von der Zencap Connect GmbH auf mein Konto gezogenen Lastschriften einzulösen.' }}
                    </label>
                    <label role="alert" class="error hidden" for="lender_upgrade_bank_account_access_permit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </div>

            </div>
        </div>
    </div><!-- end .row -->

    <div class="row">
        <div class="col-xs-12 cancel-padding">
            <h2 class="faux-h3">{{ 'Document upload' }}</h2>
        </div>
    </div><!-- end .row -->

    <div class="row upload-file-wrapper">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="add-box text-center">
                <input type="file" id="upload-file-inner" class="hidden" />
                <button class="btn btn-lg"><i class="fa fa-lg fa-arrow-circle-o-up"></i> Hochladen</button>
                <div class="desp-5"></div>
                <p>
                    <small>
                        Drücken Sie STRG, um mehre Dokumente gleichzeitig auszuwählen
                    </small>
                </p>
            </div>
        </div>
        {# hide drag and drop on mobile and table #}
        <div class="hidden-xs hidden-sm col-md-6">
            <div class="text-center" id="dropfile">
                <p><i class="fa fa-file"></i> Ziehen Sie Ihre Dokumente mit der Maus auf dieses Feld</p>
            </div>
        </div>
        <div class="col-xs-12">
            <div id="error-box"></div>
            <p><small>Sie können Dateien bis zu einer Größe von 4 MB in den Formaten .pdf, .jpg, .png, .xls, .xlsx, .doc, .docx und .bmp hochladen</small></p>
        </div>
    </div><!-- end .row -->

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="checkbox-buttons">
                    <input type="checkbox" class="hidden" value="" name="" id="" required="required">
                    <div class="custom-square">
                        <span class="fa"></span> <!-- add class .fa-check when user clicks -->
                    </div>
                    <label for="" class="required">
                        {{ 'I accept the <a>mandate agreement</a>' }}
                    </label>
                    <label role="alert" class="error hidden" for="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </div>

            </div>
        </div>
    </div><!-- end .row -->

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="checkbox-buttons">
                    <input type="checkbox" class="hidden" value="" name="" id="" required="required">
                    <div class="custom-square">
                        <span class="fa"></span> <!-- add class .fa-check when user clicks -->
                    </div>
                    <label for="" class="required">
                        {{ 'I don\'t act on behalf of a third person ' }}
                    </label>
                    <label role="alert" class="error hidden" for="">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </div>

            </div>
        </div>
    </div><!-- end .row -->

    <div class="row page-head">
        <div class="col-xs-12 text-right">
            <button class="btn btn-lg btn-nvstr" type="submit"><i class="fa fa-check"></i> Request upgrade</button>
        </div>
    </div><!-- end .row -->

