<form action="" method="post" role="form" class="form-register" id="lender_complete">

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-md-8">

                <div class="row">
                    <div class="col-xs-12 cancel-padding">
                        <h2 class="faux-h3">{{ 'Personliche Angaben' }}</h2>
                    </div><!-- .col-xs-12 -->
                </div><!-- end .row -->


                <div class="row form-group">
                    <div class="col-xs-12">
                        <div class="radio-buttons">
                            <input type="radio" class="hidden" value="male" name="lender_complete_gender" id="lender_complete_gender_m" required="required">
                            <div class="custom-circle">
                                <span class="" id="select_complete_gender_m"></span> <!-- add class .selected when user clicks and an ID for TA -->
                            </div>
                            <label for="lender_complete_gender_m" class="required"> {{ 'Herr' }}</label>
                        </div>
                        <div class="radio-buttons">
                            <input type="radio" class="hidden" value="female" name="lender_complete_gender" id="lender_complete_gender_f" required="required">
                            <div class="custom-circle">
                                <span class="" id="select_complete_gender_f"></span> <!-- add class .selected when user clicks and an ID for TA -->
                            </div>
                            <label for="lender_complete_gender_f" class="required"> {{ 'Frau' }}</label>
                        </div>
                        <div class="clearfix"></div>
                        <label for="lender_complete_gender" class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                    </div>
                </div><!-- end .row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="lender_complete_first_name" class="required">{{ 'Vorname(n)' }}</label>
                            <input type="text" id="lender_complete_first_name" class="form-control" required="required">
                            <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="lender_complete_last_name" class="required">{{ 'Nachname' }}</label>
                            <input type="text" id="lender_complete_last_name" class="form-control" required="required">
                            <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                        </div>
                    </div>
                </div><!-- end .row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-9">
                        <div class="form-group">
                            <label for="lender_complete_street" class="required">{{ 'Straße' }}</label>
                            <input type="text" id="lender_complete_street" class="form-control" required="required" maxlength="200">
                            <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        <div class="form-group">
                            <label for="lender_complete_street_number" class="required">{{ 'Nummer' }}</label>
                            <input type="text" id="lender_complete_street_number" class="form-control" required="required" maxlength="10">
                            <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                        </div>
                    </div>
                </div><!-- end .row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <div class="form-group">
                            <label for="lender_complete_postal_code" class="required">{{ 'Postleitzahl' }}</label>
                            <input type="text" id="lender_complete_postal_code" class="form-control" required="required" maxlength="20">
                            <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-8">
                        <div class="form-group">
                            <label for="lender_complete_city" class="required">{{ 'Stadt' }}</label>
                            <input type="text" id="lender_complete_city" class="form-control" required="required" maxlength="200">
                            <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                        </div>
                    </div>
                </div><!-- end .row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="lender_complete_cellphone" class="required">{{ 'Mobiltelefonnummer' }}</label>
                            <input type="text" id="lender_complete_cellphone" class="form-control" required="required">
                            <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                        </div>
                    </div>
                </div><!-- end .row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="lender_complete_birthday" class="required">{{ 'Geburtsdatum' }}</label>
                            <input type="text" id="lender_complete_birthday" class="form-control" placeholder="Geburtsdatum TT.MM.JJJJ" required="required">
                            <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                        </div>
                    </div>
                </div><!-- end .row -->

                <div class="row">
                    <div class="col-xs-12 cancel-padding">
                        <h2 class="faux-h3">{{ 'Bankverbindung' }} <i title="" data-placement="top" data-toggle="tooltip" class="fa fa-question-circle" data-original-title="Die Zinsen aus aktiven Geboten zeigen die zu erwartenden Zinszahlungen vor Service-Gebühren. Diese Zinsen erhalten Sie, wenn alle Kredite, in die Sie investiert haben, erfolgreich sind und die jeweiligen Beträge an die Unternehmer ausgezahlt werden."></i></h2>
                    </div>
                </div><!-- end .row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-12">
                        <div class="form-group">
                            <label for="lender_complete_bank_account_holder" class="required">{{ 'Kontoinhaber' }}</label>
                            <input type="text" id="lender_complete_bank_account_holder" class="form-control" required="required">
                            <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                        </div>
                    </div>
                </div><!-- end .row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="lender_complete_bank_account_number" class="required">{{ 'IBAN' }}</label>
                            <input type="text" id="lender_complete_bank_account_number" class="form-control" required="required" maxlength="22">
                            <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                        </div>
                    </div>
                </div><!-- end .row -->

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="lender_complete_bank_account_typed_bic_code" class="required">{{ 'BIC' }}</label>
                            <input type="text" id="lender_complete_bank_account_typed_bic_code" class="form-control" required="required">
                            <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <div class="form-group">
                            <label for="lender_complete_bank_account_bic_code" class="required">Name der Bank</label><br>
                            <select class="selectpicker show-tick hidden" data-width="100%">
                                <option value="">...</option>
                                <option value="">...</option>
                            </select>
                           <label class="placeholder">Commerzbank Gf 261 Hamburg</label>
                        </div>
                    </div>

                    <div class="clearfix visible-lg-block"></div>

                </div><!-- end .row -->

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="checkbox-buttons">
                                <input type="checkbox" class="hidden" value="" name="lender_complete_bank_account_access_permit" id="lender_complete_bank_account_access_permit" required="required">
                                <div class="custom-square">
                                    <span class="fa" id="select_bank_account_permit"></span> <!-- add class .fa-check when user clicks and an ID for TA -->
                                </div>
                                <label for="lender_complete_bank_account_access_permit" class="required">
                                    {{ 'Ich ermächtige die Zencap Connect GmbH Zahlungen von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von der Zencap Connect GmbH auf mein Konto gezogenen Lastschriften einzulösen.' }}
                                </label>
                                <label role="alert" class="error hidden" for="lender_complete_bank_account_access_permit">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                            </div>

                        </div>
                    </div>
                </div>

            </div><!-- end .col-xs-12 -->
        </div><!-- end .row -->

    </div><!-- end .container -->

    <div class="container-wrapper form-footer odd">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 screen-align-btn">
                    <button class="btn btn-lg btn-nvstr" type="submit" id="btn_save">{{ 'Speichern und Gebote überprüfen' }}</button>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

</form>