<form action="" method="post" role="form" class="form-register" id="lender_complete">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-0">
                <h1>{{ 'Persönliche Angaben' }}</h1>
            </div>
            <div class="desp-20 col-xs-12 hidden-lg"></div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-0">
                        <h2 class="faux-h3">{{ 'Personliche Angaben' }}</h2>
                        <div class="row form-group">

                            <div class="col-xs-12 col-sm-6">
                                <div class="radio-buttons">
                                    <input type="radio" class="hidden" value="male" name="lender_complete_gender" id="lender_complete_gender_m" required="required">
                                    <div class="custom-circle">
                                        <span class="selected"></span>
                                    </div>
                                    <label for="lender_complete_gender_m" class="required"> {{ 'Herr' }}</label>
                                </div>
                                <div class="radio-buttons">
                                    <input type="radio" class="hidden" value="female" name="lender_complete_gender" id="lender_complete_gender_f" required="required">
                                    <div class="custom-circle">
                                        <span></span>
                                    </div>
                                    <label for="lender_complete_gender_f" class="required"> {{ 'Frau' }}</label>
                                </div>
                            </div>

                            <div class="col-xs-8 col-sm-6 col-md-4">
                                <div class="btn-group btn-block">
                                    <button data-toggle="dropdown" class="form-control btn dropdown-toggle" type="button" aria-expanded="false">
                                        <span class="pull-left">{{ 'Titel' }}</span>
                                        <span class="fa fa-chevron-down pull-right"></span>
                                    </button>
                                    <ul role="menu" class="dropdown-menu">
                                        <li><a href="#"><i class="glyphicon glyphicon-ok pull-right"></i>{{ 'Titel.' }}
                                            </a></li>
                                        <li><a href="#">{{ 'Prof.' }}</a></li>
                                        <li><a href="#">{{ 'Prof. Dr.' }}</a></li>
                                        <li><a href="#">{{ 'Dr.' }}</a></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-0">
                        <div class="form-group">
                            <label for="lender_complete_first_name" class="required">{{ 'Vorname(n)' }}</label>
                            <input type="text" id="lender_complete_first_name" class="form-control" required="required">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0">
                        <div class="form-group">
                            <label for="lender_complete_last_name" class="required">{{ 'Nachname' }}</label>
                            <input type="text" id="lender_complete_last_name" class="form-control" required="required">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-0">
                        <div class="alert alert-info" role="alert">
                            Bitte geben Sie Ihren vollen Namen so an, wie er in Ihrem Pass oder Personalausweis steht.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-0">
                        <div class="form-group">
                            <label for="lender_complete_street" class="required">{{ 'Straße' }}</label>
                            <input type="text" id="lender_complete_street" class="form-control" required="required" maxlength="200">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-0">
                        <div class="form-group">
                            <label for="lender_complete_street_number" class="required">{{ 'Nummer' }}</label>
                            <input type="text" id="lender_complete_street_number" class="form-control" required="required" maxlength="10">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-0">
                        <div class="alert alert-info" role="alert">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-0">
                        <div class="form-group">
                            <label for="lender_complete_postal_code" class="required">{{ 'Postleitzahl' }}</label>
                            <input type="text" id="lender_complete_postal_code" class="form-control" required="required" maxlength="20">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-0 col-lg-5 col-lg-offset-0">
                        <div class="form-group">
                            <label for="lender_complete_city" class="required">{{ 'Stadt' }}</label>
                            <input type="text" id="lender_complete_city" class="form-control" required="required" maxlength="200">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-0">
                        <div class="alert alert-info" role="alert">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-0">
                        <div class="form-group">
                            <label for="lender_complete_cellphone" class="required">{{ 'Mobiltelefonnummer' }}</label>
                            <input type="text" id="lender_complete_cellphone" class="form-control" required="required">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-0">
                        <div class="alert alert-info" role="alert">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-5 col-lg-offset-0">
                        <div class="form-group">
                            <label for="lender_complete_birthday" class="required">{{ 'Geburtsdatum' }}</label>
                            <input type="text" id="lender_complete_birthday" class="form-control" placeholder="TT.MM.JJJJ" required="required">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-0">
                        <div class="alert alert-info" role="alert">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-0">
                        <h2 class="faux-h3">{{ 'Bankverbindung' }}</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-0">
                        <div class="form-group">
                            <label for="lender_complete_bank_account_holder" class="required">{{ 'Kontoinhaber' }}</label>
                            <input type="email" id="lender_complete_bank_account_holder" class="form-control" required="required">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-0">
                        <div class="alert alert-info" role="alert">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-0">
                        <div class="form-group">
                            <label for="lender_complete_bank_account_number" class="required">{{ 'IBAN' }}</label>
                            <input type="text" id="lender_complete_bank_account_number" class="form-control" required="required" maxlength="22">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-0">
                        <div class="form-group">
                            <label for="lender_complete_bank_account_typed_bic_code" class="required">{{ 'BIC' }}</label>
                            <input type="password" id="lender_complete_bank_account_typed_bic_code" class="form-control" required="required">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-sm-offset-2 col-md-5 col-md-offset-2 col-lg-4 col-lg-offset-0">
                        <div class="form-group">
                            <label for="lender_complete_bank_account_bic_code" class="required">{{ 'Name der Bank' }}</label>
                            <div class="btn-group btn-block hidden">
                                <button data-toggle="dropdown" class="form-control btn dropdown-toggle" type="button" aria-expanded="false">
                                    <span class="pull-left">{{ '' }}</span>
                                    <span class="fa fa-chevron-down pull-right"></span>
                                </button>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a href="#"><i class="glyphicon glyphicon-ok pull-right"></i>{{ '' }}
                                        </a></li>
                                    <li><a href="#">{{ '' }}</a></li>
                                </ul>
                            </div>
                            <label class="placeholder">Commerzbank Gf 261 Hamburg</label>
                        </div>
                    </div>

                    <div class="clearfix visible-lg-block"></div>

                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-0">
                        <div class="alert alert-info" role="alert">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-0">
                        <div class="form-group">
                            <div class="checkbox-buttons">
                                <input type="checkbox" class="hidden" value="" name="lender_complete_bank_account_access_permit" id="lender_complete_bank_account_access_permit" required="required">
                                <div class="custom-square">
                                    <span></span> <!-- add class .selected when user clicks -->
                                </div>
                                <label for="lender_complete_bank_account_access_permit" class="required">
                                    {{ 'Ich ermächtige die Zencap Connect GmbH Zahlungen von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von der Zencap Connect GmbH auf mein Konto gezogenen Lastschriften einzulösen.' }}
                                </label>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <p class="col-xs-12 hidden-lg text-center">
                        <button class="btn btn-lg btn-nvstr" type="submit">{{ 'Speichern und Gebote überprüfen' }}</button>
                    </p>
                </div>

            </div><!-- .col-xs-12 -->
        </div><!-- end .row -->
    </div><!-- .container -->

    <div class="desp-48"></div>

    <div class="container-wrapper odd hidden-xs hidden-sm hidden-md col-lg-12">
        <div class="container padding-48">
            <div class="text-right">
                <button class="btn btn-lg btn-nvstr" type="submit">{{ 'Speichern und Gebote überprüfen' }}</button>
                <a href="{{ path('lender_checkout') }}">{{ 'Speichern und Gebote überprüfen' }}</a>
            </div>
        </div>
    </div><!-- .container-wrapper -->

    <div class="clearfix"></div>

</form>