<div class="col-xs-12">
    <div class="row">
        <div class="col-xs-9 hidden-md hidden-lg">{{ 'Aktuelle Kreditprojekte' }}</div>
        <div class="col-xs-3 pull-right hidden-md hidden-lg">
            {#<button id="filter-btn" data-toggle="offcanvas" class="btn btn-primary pull-right" type="button">{{ 'Filtern' }}</button>#}

            <a id="filter-btn" data-toggle="offcanvas" class=" pull-right"><i class="fa fa-search fa-lg {#fa-white#}"></i></a>
        </div>
    </div>
</div>

<div class="desp-20 hidden-md hidden-lg"></div>

<div id="sidebar-filter" class="sidebar-offcanvas">
    <div class="row">
        <div class="col-sm-12 hidden-md hidden-lg">
            <a href="#" id="filter-close" class="pull-right">{{ 'X' }}</a>
        </div>
    </div>

    <div class="row">
        <form action="" method="get" role="form" id="filter-bar">

            <div class="col-xs-12 col-sm-12 col-md-2">
                <p><strong>{{  'Kategorie' }}</strong></p>
                <div class="btn-group btn-block">
                    <button type="button" class="form-control btn dropdown-toggle" data-toggle="dropdown">
                        <span class="pull-left">Alle</span>
                        <span class="fa fa-chevron-down pull-right"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><i class="fa fa-check pull-right"></i>{{ 'Betriebsmittelfinanzierung' }}
                            </a></li>
                        <li><a href="#">{{ 'Investition in Anlagevermögen' }}</a></li>
                        <li><a href="#">{{ 'Wachstumkapital' }}</a></li>
                        <li><a href="#">{{ 'Tilgung von Steuer-oder Versicherungsverbindlichkeiten' }}</a></li>
                        <li><a href="#">{{ 'Sonstige' }}</a></li>
                    </ul>
                </div>
            </div>

            <div class="desp-30 visible-xs visible-sm hidden-md hidden-lg"></div>

            <div class="col-xs-12 col-sm-12 col-md-3 ui-custom-item">
                <p><strong>{{ 'Kreditbetrag' }}</strong></p>
                <div id="slider-range-amount"></div>
                <div class="text-center">
                    <label for="amount"></label>
                    <input type="text" id="amount" class="text-center" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </div>
                <div class="desp-20 hidden-md hidden-lg"></div>
            </div>

            <div class="col-xs-12 col-md-3 ui-custom-item">
                <p><strong>{{ 'Zinssatz' }}</strong></p>
                <div id="slider-range-interest"></div>
                <div class="text-center">
                    <label for="interest"></label>
                    <input type="text" id="interest" class="text-center" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </div>
                <div class="desp-20 hidden-md hidden-lg"></div>
            </div>

            <div class="col-xs-12 col-md-3 ui-custom-item">
                <p><strong>{{ 'Laufzeit' }}</strong></p>
                <div id="slider-range-year"></div>
                <div class="text-center">
                    <label for="years"></label>
                    <input type="text" id="years" class="text-center" readonly style="border:0; color:#f6931f; font-weight:bold;">
                </div>
                <div class="desp-20 hidden-md hidden-lg"></div>
            </div>

            {#<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                <p></p>
                <input type="submit" class="btn btn-block btn-primary" value="Filtern">
            </div>#}

            <div class="col-xs-12 col-md-2">
                <p class="desp-10 hidden-xs hidden-sm visible-md visible-lg"></p>
                <input type="submit" class="btn btn-block btn-primary" value="Filtern">
            </div>


        </form>
    </div><!-- end .row -->

</div><!-- end .sidebar-offcanvas -->

<div class="row">
    <div class="hidden-xs hidden-sm col-md-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="hidden-xs hidden-sm col-md-9"><strong>1-29 von 29 Kredite</strong></div>
    <div class="hidden-xs hidden-sm col-md-3">
        <form action="">
            <div class="input-search">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Suchen" class="form-control" name="search" value="">
            </div>
        </form>
    </div>
</div>

<div class="hidden-xs desp-20"></div>

<table class="table custom-table">
    {% include '_partials/tables/loanProjectsTable.html.twig' %}
</table>


{# DATA BELOW IS JUST FOR TESTING NL + ES, SHOULD BE DELETED #}

{# ================ START TO DELETE ====================== #}

    {# ================ NETHERLANDS ====================== #}
<table class="table custom-table">
    <thead>
    <tr>
        <th class="hidden-md hidden-lg"></th>
        <th>Kredietproject</th>
        <th class="hidden-md hidden-lg"></th>
        <th class="hidden-xs hidden-sm">Categorie</th>
        <th class="text-center">Bedrag</th>
        <th class="hidden-md hidden-lg"></th>
        <th class="hidden-xs hidden-sm text-center">Rentevoet</th>
        <th class="hidden-xs hidden-sm">Termijn</th>
        <th class="hidden-xs hidden-sm">% gefinancierd</th>
        <th class="hidden-xs hidden-sm text-center">In behandeling</th>
        <th class="hidden-xs hidden-sm text-center">Resterende duur</th>
        <th class="hidden-xs hidden-sm">Investeren</th>
    </tr>
    </thead>
    <tbody>
    {% for art in articles_nl %}
        <tr>
            <td class="hidden-md hidden-lg {{ art.risk_class }} sm-width">{{ art.risk_title }}</td>
            <td class="loan-title">
                <a href="{{ path('loanDetails') }}">{{ art.title }}</a>
            </td>
            <td class="hidden-md hidden-lg">
                {{ art.interest }}<br>{{ art.duration }}
            </td>
            <td class="hidden-md hidden-lg sm-width-bar">
                <div class="progress custom-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ art.filled }}" aria-valuemin="0" aria-valuemax="100"
                         style="min-width: 2em; width: {{ art.filled }};">
                    </div>
                    <div class="full-amount">
                        {{ art.amount }}
                    </div>
                </div>
            </td>
            <td class="hidden-xs hidden-sm text-center"><i class="categoryIcon">{{ art.category }}</i></td>
            <td class="hidden-xs hidden-sm text-right">{{ art.amount }}</td>
            <td class="hidden-xs hidden-sm text-right">{{ art.interest }}<span class="grade {{ art.risk_class }} grade-small">{{ art.risk_title }}</span>
            </td>
            <td class="hidden-xs hidden-sm">{{ art.duration }}</td>
            <td class="hidden-xs hidden-sm">
                <div class="progress default-progress progress-update pull-left">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                         style="width: {{ art.filled }};">
                    </div>
                </div>
                <div class="percentage pull-right">{{ art.funded }}</div>
            </td>
            <td class="hidden-xs hidden-sm text-right">{{ art.amount_pending }}</td>
            <td class="hidden-xs hidden-sm text-center">{{ art.days_left }}</td>
            <td class="hidden-xs hidden-sm">
                <div class="bid-item">
                    <div class="invest"><input type="button" value="Investeren" class="btn btn-nvstr btn-invest btn-block"/>
                    </div>
                    <div class="bid-form hidden">
                        <input class="inp-value" type="text" name=""/>
                        <input type="button" value="Biten" class="place-bid btn btn-nvstr btn-invest"/>
                    </div>
                    <div class="bid-value text-right hidden"><span>-</span>
                        <a href="javascript:void(0)" class="edit">✎</a>
                        <a href="javascript:void(0)" class="remove"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
            </td>
            <td class="hidden-md hidden-lg sm-width">
                <a href="{{ path('loanDetails') }}" class="more"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    {# ================ SPAIN ====================== #}
<table class="table custom-table">
    <thead>
    <tr>
        <th class="hidden-md hidden-lg"></th>
        <th>Proyecto de préstamo</th>
        <th class="hidden-md hidden-lg"></th>
        <th class="hidden-xs hidden-sm">Categoría</th>
        <th class="text-center">Importe</th>
        <th class="hidden-md hidden-lg"></th>
        <th class="hidden-xs hidden-sm text-center">Tipo de interés</th>
        <th class="hidden-xs hidden-sm">Plazo</th>
        <th class="hidden-xs hidden-sm">% financiado</th>
        <th class="hidden-xs hidden-sm text-center">Pendiente</th>
        <th class="hidden-xs hidden-sm text-center">Tiempo restante</th>
        <th class="hidden-xs hidden-sm">Invertir</th>
    </tr>
    </thead>
    <tbody>
    {% for art in articles_es %}
        <tr>
            <td class="hidden-md hidden-lg {{ art.risk_class }} sm-width">{{ art.risk_title }}</td>
            <td class="loan-title">
                <a href="{{ path('loanDetails') }}">{{ art.title }}</a>
            </td>
            <td class="hidden-md hidden-lg">
                {{ art.interest }}<br>{{ art.duration }}
            </td>
            <td class="hidden-md hidden-lg sm-width-bar">
                <div class="progress custom-progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="{{ art.filled }}" aria-valuemin="0" aria-valuemax="100"
                         style="min-width: 2em; width: {{ art.filled }};">
                    </div>
                    <div class="full-amount">
                        {{ art.amount }}
                    </div>
                </div>
            </td>
            <td class="hidden-xs hidden-sm text-center"><i class="categoryIcon">{{ art.category }}</i></td>
            <td class="hidden-xs hidden-sm text-right">{{ art.amount }}</td>
            <td class="hidden-xs hidden-sm text-right">{{ art.interest }}<span class="grade {{ art.risk_class }} grade-small">{{ art.risk_title }}</span>
            </td>
            <td class="hidden-xs hidden-sm">{{ art.duration }}</td>
            <td class="hidden-xs hidden-sm">
                <div class="progress default-progress progress-update pull-left">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                         style="width: {{ art.filled }};">
                    </div>
                </div>
                <div class="percentage pull-right">{{ art.funded }}</div>
            </td>
            <td class="hidden-xs hidden-sm text-right">{{ art.amount_pending }}</td>
            <td class="hidden-xs hidden-sm text-center">{{ art.days_left }}</td>
            <td class="hidden-xs hidden-sm">
                <div class="bid-item">
                    <div class="invest"><input type="button" value="Invertir" class="btn btn-nvstr btn-invest btn-block"/>
                    </div>
                    <div class="bid-form hidden">
                        <input class="inp-value" type="text" name=""/>
                        <input type="button" value="Biten" class="place-bid btn btn-nvstr btn-invest"/>
                    </div>
                    <div class="bid-value text-right hidden"><span>-</span>
                        <a href="javascript:void(0)" class="edit btn-edit">✎</a>
                        <a href="javascript:void(0)" class="remove"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
            </td>
            <td class="hidden-md hidden-lg sm-width">
                <a href="{{ path('loanDetails') }}" class="more"><i class="glyphicon glyphicon-chevron-right"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{# ================ END TO DELETE ====================== #}

