{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account-header.html.twig' %}

{% endblock header %}

{% block body %}

<div class="container spacing">

    <div class="row">
        <div class="col-xs-12">
            <ol class="lender_complete_steps list-inline hidden-xs hidden-sm visible-md visible-lg">
                <li class="step1 done col-xs-6 faux-h3"><span class="badge">1</span>Eingabe der persönlichen Daten</li>
                <li class="step2 active col-xs-6 faux-h3"><span class="badge">2</span>Bestätigung der Gebote</li>
            </ol>
        </div>
    </div><!-- end .row -->

    <div class="desp-20 hidden-xs hidden-sm"></div>

    <div class="row">
        <div class="col-xs-12">
            <h1><a href="{{ path('invest') }}"><i class="fa fa-lg fa-caret-left hidden-md hidden-lg"></i></a> Bestätigen Sie Ihre Gebote</h1>
            {#<a href="{{ path('invest') }}" class="btn">Gebote ändern</a>#}
        </div>
    </div><!-- end .row -->

    {#<hr/>#}

    <div class="row spacing cartDetails">
        <div class="col-xs-12">
            <div class="col-xs-4 col-sm-2 col-md-3">
                <p>100000 €</p>
                <small>Gesamtbetrag</small>
            </div>

            <div class="col-xs-3 col-sm-2 col-md-3 text-center">
                <p>10,17</p>
                <small>Zins</small>
            </div>

            <div class="col-xs-5 col-sm-2 col-md-3 text-right">
                <p>16,23%</p>
                <small>Netto-Rendite</small>
            </div>

            <div class="hidden-xs hidden-sm col-md-3 col-lg-3 text-right">
                <p>1,00%</p>
                <small>Service-Gebuhr</small>
            </div>

            <div class="desp-20 visible-xs hidden-sm visible-md visible-lg"></div>

            <div class="hidden-xs col-sm-6 col-md-6 col-md-offset-3">
                <a class="btn btn-lg btn-block btn-nvstr" href="{{ path('invest') }}">Gebote kostenpflichtig abgebe</a>
            </div>

            <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
                <a class="btn btn-lg btn-block btn-nvstr" href="{{ path('invest') }}">Gebote kostenpflichtig abgebe</a>
            </div>
        </div>
    </div><!-- end .row -->

    <div class="desp-20"></div>

    <h2 class="faux-h2">Aufschlüsselung Ihrer Gebote</h2>

    <div class="row">
        <div class="col-xs-12 cancel-padding">

            <table class="table custom-table">
                {% include '_partials/tables/lender_checkout_table.html.twig' %}
            </table>



            {# DATA BELOW IS JUST FOR TESTING NL + ES, SHOULD BE DELETED #}

            {# ================ NETHERLANDS ====================== #}
            {#<table class="table custom-table">
                <thead>
                <tr>
                    <th class="hidden-md hidden-lg"></th>
                    <th>Kredietproject</th>
                    <th class="hidden-md hidden-lg"></th>
                    <th class="hidden-xs hidden-sm">Categorie</th>
                    <th class="text-center">Bedrag</th>
                    <th class="hidden-md hidden-lg"></th>
                    <th class="hidden-xs hidden-sm text-center">Rentevoet</th>
                    <th class="hidden-xs hidden-sm">Termijn</th>
                    <th class="hidden-xs hidden-sm">% gefinancierd</th>
                    <th class="hidden-xs hidden-sm text-center">In behandeling</th>
                    <th class="hidden-xs hidden-sm text-center">Resterende duur</th>
                    <th class="hidden-xs hidden-sm text-center">Investeren</th>
                </tr>
                </thead>
                <tbody>
                {% for art in articles_nl %}
                    <tr>
                        <td class="hidden-md hidden-lg {{ art.risk_class }} sm-width">{{ art.risk_title }}</td>
                        <td class="loan-title">
                            <a href="{{ path('loanDetails') }}">{{ art.title }}</a>
                        </td>
                        <td class="hidden-md hidden-lg">
                            {{ art.interest }}<br>{{ art.duration }}
                        </td>
                        <td class="hidden-md hidden-lg sm-width-bar">
                            <div class="progress custom-progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ art.filled }}" aria-valuemin="0" aria-valuemax="100"
                                     style="min-width: 2em; width: {{ art.filled }};">
                                </div>
                                <div class="full-amount">
                                    {{ art.amount }}
                                </div>
                            </div>
                        </td>
                        <td class="hidden-xs hidden-sm text-center"><i class="categoryIcon">{{ art.category }}</i></td>
                        <td class="hidden-xs hidden-sm text-right">{{ art.amount }}</td>
                        <td class="hidden-xs hidden-sm text-right">{{ art.interest }}<span class="grade {{ art.risk_class }} grade-small">{{ art.risk_title }}</span>
                        </td>
                        <td class="hidden-xs hidden-sm">{{ art.duration }}</td>
                        <td class="hidden-xs hidden-sm">
                            <div class="progress default-progress progress-update pull-left">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                     style="width: {{ art.filled }};">
                                </div>
                            </div>
                            <div class="percentage pull-right">{{ art.funded }}</div>
                        </td>
                        <td class="hidden-xs hidden-sm text-right">{{ art.amount_pending }}</td>
                        <td class="hidden-xs hidden-sm text-center">{{ art.days_left }}</td>
                        <td class="hidden-xs hidden-sm text-right bid-amount">
                            {{ art.amount_pending }}
                        </td>
                        <td class="hidden-md hidden-lg sm-width">
                            <a href="{{ path('loanDetails') }}" class="more"><i class="glyphicon glyphicon-chevron-right"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>#}

            {# ================ SPAIN ====================== #}
            {#<table class="table custom-table">
                <thead>
                <tr>
                    <th class="hidden-md hidden-lg"></th>
                    <th>Proyecto de préstamo</th>
                    <th class="hidden-md hidden-lg"></th>
                    <th class="hidden-xs hidden-sm">Categoría</th>
                    <th class="text-center">Importe</th>
                    <th class="hidden-md hidden-lg"></th>
                    <th class="hidden-xs hidden-sm text-center">Tipo de interés</th>
                    <th class="hidden-xs hidden-sm">Plazo</th>
                    <th class="hidden-xs hidden-sm">% financiado</th>
                    <th class="hidden-xs hidden-sm text-center">Pendiente</th>
                    <th class="hidden-xs hidden-sm text-center">Tiempo restante</th>
                    <th class="hidden-xs hidden-sm text-center">Invertir</th>
                </tr>
                </thead>
                <tbody>
                {% for art in articles_es %}
                    <tr>
                        <td class="hidden-md hidden-lg {{ art.risk_class }} sm-width">{{ art.risk_title }}</td>
                        <td class="loan-title">
                            <a href="{{ path('loanDetails') }}">{{ art.title }}</a>
                        </td>
                        <td class="hidden-md hidden-lg">
                            {{ art.interest }}<br>{{ art.duration }}
                        </td>
                        <td class="hidden-md hidden-lg sm-width-bar">
                            <div class="progress custom-progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ art.filled }}" aria-valuemin="0" aria-valuemax="100"
                                     style="min-width: 2em; width: {{ art.filled }};">
                                </div>
                                <div class="full-amount">
                                    {{ art.amount }}
                                </div>
                            </div>
                        </td>
                        <td class="hidden-xs hidden-sm text-center"><i class="categoryIcon">{{ art.category }}</i></td>
                        <td class="hidden-xs hidden-sm text-right">{{ art.amount }}</td>
                        <td class="hidden-xs hidden-sm text-right">{{ art.interest }}<span class="grade {{ art.risk_class }} grade-small">{{ art.risk_title }}</span>
                        </td>
                        <td class="hidden-xs hidden-sm">{{ art.duration }}</td>
                        <td class="hidden-xs hidden-sm">
                            <div class="progress default-progress progress-update pull-left">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                     style="width: {{ art.filled }};">
                                </div>
                            </div>
                            <div class="percentage pull-right">{{ art.funded }}</div>
                        </td>
                        <td class="hidden-xs hidden-sm text-right">{{ art.amount_pending }}</td>
                        <td class="hidden-xs hidden-sm text-center">{{ art.days_left }}</td>
                        <td class="hidden-xs hidden-sm text-right bid-amount">
                            {{ art.amount_pending }}
                        </td>
                        <td class="hidden-md hidden-lg sm-width">
                            <a href="{{ path('loanDetails') }}" class="more"><i class="glyphicon glyphicon-chevron-right"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>#}

            {# ================ END TO DELETE ==== #}





        </div>
    </div><!-- end .row -->

    {#  cms block disclaimer-cart-list-investing#}

    <div class="row">
        <div class="col-xs-12">
            <p><sup>1</sup> Bei dem angezeigten Zins handelt es sich um den jährlichen Nominalzins, den das Unternehmen auf den ausstehenden Kreditbetrag entrichtet.
            </p>
            <p><sup>2</sup> Bei der angezeigten Service-Gebühr handelt es sich um die Vermittlungsprovision, die der Investor an Zencap entrichtet. Diese Gebühr wird automatisch bei jeder Rückzahlung, die Sie aus Ihren Kreditprojekten erhalten, von Zencap einbehalten. Die Servicegebühr beträgt 1,00 Prozentpunkte vom Zinssatz für Investitionen in Kredite, die ab dem 13.06.2014 auf der Plattform freigeschaltet wurden. Für alle anderen Investitionen berechnet Zencap eine Gebühr in Höhe von 1% von jeder Rückzahlung.</p>
            <p><sup>3</sup> Die ausgewiesene Netto-Rendite ist kein festes Zahlungsversprechen seitens Zencap. Eine Geldanlage auf der Zencap-Plattform ist immer mit einem Risiko verbunden. Investiertes Kapital steht dem Anleger bis zur Rückzahlung nicht mehr zur Verfügung. Trotz sorgfältiger Prüfung der Kreditanträge und aktivem Forderungsmanagement kann es zu Ausfällen von Kreditnehmern kommen – in seltenen Ausnahmefällen gar zu einem vollständigen Verlust des angelegten Kapitals. Wir übernehmen keine Garantie für die Rückzahlung des investierten Kapitals. Wir raten unseren Anlegern, nur Gelder zu investieren, deren Verlust sie sich leisten können und sich vor der Anlage fachmännischen Rat zu wirtschaftlichen und steuerlichen Aspekten einzuholen. Um Ihr Risiko zu reduzieren, raten wir außerdem dazu Ihre Gesamtanlage auf verschiedene Kreditprojekte zu verteilen. </p>
        </div>
    </div><!-- end .row -->

    <hr/>

    {#  end cms block disclaimer-cart-list-investing#}

</div><!-- end .container -->

{% endblock body %}