{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account-header.html.twig' %}

{% endblock header %}

{% block body %}

    <div class="container spacing">

        <div class="row">
            <div class="col-xs-12">
                <h1>Laufende Kredite</h1>
                <p>Auf dieser Seite finden Sie eine Übersicht aller Kreditprojekte, von denen Sie monatliche Zahlungen erhalten. </p>
                <p><strong>0 Kredite</strong></p>
            </div>
        </div><!-- end .row -->

        <div class="row">
            <div class="col-xs-12 cancel-padding">
                <div class="portfolio-table">
                    <table class="table custom-table">
                        {% include '_partials/tables/portfolioTable.html.twig' %}
                    </table>
                </div>
            </div>
        </div><!-- end .row -->

        {# DATA BELOW IS JUST FOR TESTING NL + ES, SHOULD BE DELETED #}

        {# ================ START TO DELETE ====================== #}
        <div class="row">
            <div class="col-xs-12 cancel-padding">
                <div class="portfolio-table">
                <table class="table custom-table">
                    {# ================ NETHERLANDS ====================== #}
                    <thead>
                    <tr>
                        <th class="hidden-md hidden-lg"></th>
                        <th class="hidden-xs hidden-sm">Actief sinds</th>
                        <th class="hidden-md hidden-lg"></th>
                        <th>Krediet</th>
                        {#<th class="hidden-sm hidden-md hidden-lg"></th>#}
                        <th class="hidden-xs hidden-sm text-center">Categorie</th>
                        <th class="hidden-xs text-right">Rentevoet</th>
                        <th class="hidden-xs text-right hidden-md hidden-lg">Termijn</th>
                        <th class="hidden-xs hidden-sm text-center">Resterende duur</th>
                        <th class="hidden-xs hidden-sm text-center">Investeringsbedrag</th>
                        <th class="text-right right-position">Resterend</th>
                        <th class="hidden-xs text-center">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for art in articles_nl %}
                        <tr>
                            <td class="hidden-md hidden-lg {{ art.risk_class }} sm-width text-center"><a href="{{ path('loanDetails') }}">{{ art.risk_title }}</a>
                            </td>

                            <td class="hidden-xs hidden-sm">10.01.2014</td>
                            <td class="hidden-md hidden-lg"></td>

                            <td class="loan-title">
                                <a class="xs-height" href="{{ path('lender_portfolio_loans') }}">{{ art.title| truncate(35) }}</a>
                            </td>

                            {#<td class="hidden-sm hidden-md hidden-lg text-right">
                                <a href="{{ path('loanDetails') }}">{{ art.interest }}<br>{{ art.duration }}</a>
                            </td>#}

                            <td class="hidden-xs hidden-sm text-center"><i class="categoryIcon">{{ art.category }}</i></td>
                            <td class="hidden-xs text-right">{{ art.interest }}<span class="grade grade-b grade-small hidden-xs hidden-sm">B</span></td>
                            <td class="hidden-xs text-right hidden-md hidden-lg">{{ art.duration }}</td>
                            <td class="hidden-xs hidden-sm text-center">{{ art.days_left }}</td>
                            <td class="hidden-xs hidden-sm text-right">{{ art.amount }}</td>
                            <td class="text-right right-position">{{ art.amount_pending }}<br><span class="hidden-sm hidden-md hidden-lg">20 Maanden</span> </td>
                            <td class="hidden-xs align-bullet">
                                <div class="bullet defaulted"></div>
                                <div class="bullet-label">defaulted</div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>


         {# ================ SPAIN ====================== #}
        <div class="row">
            <div class="col-xs-12 cancel-padding">
                <div class="portfolio-table">
                <table class="table custom-table">
            <thead>
            <tr>
                <th class="hidden-md hidden-lg"></th>
                <th class="hidden-xs hidden-sm">Activa desde</th>
                <th class="hidden-md hidden-lg"></th>
                <th>Credito</th>
                {#<th class="hidden-sm hidden-md hidden-lg"></th>#}
                <th class="hidden-xs hidden-sm text-center">Categoría</th>
                <th class="hidden-xs text-right">Tipo de interés</th>
                <th class="hidden-xs text-right hidden-md hidden-lg">Plazo</th>
                <th class="hidden-xs hidden-sm text-center">Tiempo restante</th>
                <th class="hidden-xs hidden-sm text-center">Importe de inversión</th>
                <th class="text-right right-position">Pendiente</th>
                <th class="hidden-xs text-center">Status</th>
            </tr>
            </thead>

            <tbody>
            {% for art in articles_es %}
                <tr>
                    <td class="hidden-md hidden-lg {{ art.risk_class }} sm-width text-center"><a href="{{ path('loanDetails') }}">{{ art.risk_title }}</a></td>

                    <td class="hidden-xs hidden-sm">10.01.2014</td>
                    <td class="hidden-md hidden-lg"></td>

                    <td class="loan-title">
                        <a class="xs-height" href="{{ path('lender_portfolio_loans') }}">{{ art.title| truncate(35) }}</a>
                    </td>

                    {#<td class="hidden-sm hidden-md hidden-lg text-right">
                        <a href="{{ path('loanDetails') }}">{{ art.interest }}<br>{{ art.duration }}</a>
                    </td>#}

                    <td class="hidden-xs hidden-sm text-center"><i class="categoryIcon">{{ art.category }}</i></td>
                    <td class="hidden-xs text-right">{{ art.interest }}<span class="grade grade-c grade-small hidden-xs hidden-sm">C</span></td>
                    <td class="hidden-xs text-right hidden-md hidden-lg">{{ art.duration }}</td>
                    <td class="hidden-xs hidden-sm text-center">{{ art.days_left }}</td>
                    <td class="hidden-xs hidden-sm text-right">{{ art.amount }}</td>
                    <td class="text-right right-position">{{ art.amount_pending }}<br><span class="hidden-sm hidden-md hidden-lg">{{ art.days_left }}</span></td>
                    <td class="hidden-xs align-bullet">
                        <div class="bullet defaulted"></div>
                        <div class="bullet-label">defaulted</div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
                </div>
            </div>
        </div>

    {# ================ END TO DELETE ====================== #}


        <!-- PAGINATION -->

        <div class="row">
            <div class="col-xs-12 col-sm-2">
                <div class="pagination xs-pull-right">
                    <div class="per-page">
                        <select name="limit" class="selectpicker show-tick" data-width="100%">
                            <option value="/darlehen/index?limit=15">15</option>
                            <option value="/darlehen/index?limit=30">30</option>
                            <option value="/darlehen/index?limit=60">60</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-10">
                <ul class="pagination pagination-sm pull-right">
                    {#<li class="disabled"><span aria-hidden="true">«</span></li>#}
                    <li><a aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                    <li class="active">
                        <a href="/darlehen/index">1</a>
                    </li>
                    <li>
                        <a href="/darlehen/index/2">2</a>
                    </li>
                    <li>
                        <a href="/darlehen/index/3">3</a>
                    </li>
                    <li><a aria-label="Next" href="/darlehen/index/2"><span aria-hidden="true">»</span></a></li>
                </ul>
            </div>

        </div><!-- end .row -->

        <!-- END PAGINATION -->


        <!-- LINK TO TAX REPORTS -->

        {% if reports|length > 0 %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h2>Zu versteuernde Zinseinkünfte</h2>

                <p>Hier finden Sie die Dokumente mit ihren jährlich zu versteuernden Zinseinkünften. Das Dokument für das aktuelle Jahr wird Ende Dezember für Sie hochgeladen.</p>
                <ul>
                    <li><a href="/tax-report/download/2014">Zinseinkünfte 2014</a></li>
                </ul>
            </div>
        </div>
        {% endif %}


    </div><!-- .container -->

{% endblock body %}