{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account-header.html.twig' %}

{% endblock header %}

{% block body %}

    <div class="container padding-48">

        <div class="row">
            <div class="col-xs-12">
                <h1>Laufende Kredite</h1>
                <p>Auf dieser Seite finden Sie eine Übersicht aller Kreditprojekte, von denen Sie monatliche Zahlungen erhalten. </p>
                <p><strong>0 Kredite</strong></p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 cancel-padding">
                <table class="table custom-table">
                    {% include '_partials/tables/portfolioTable.html.twig' %}
                </table>
            </div>
        </div>

        {# DATA BELOW IS JUST FOR TESTING NL + ES, SHOULD BE DELETED #}

        {# ================ START TO DELETE ====================== #}
        <div class="row">
            <div class="col-xs-12 cancel-padding">
                <table class="table custom-table">
                    {# ================ NETHERLANDS ====================== #}
                    <thead>
                    <tr>
                        <th class="hidden-md hidden-lg"></th>
                        <th class="hidden-xs hidden-sm">Actief sinds</th>
                        <th>Kredietprojecten</th>
                        <th class="hidden-sm hidden-md hidden-lg"></th>
                        <th class="hidden-xs hidden-sm text-center">Categorie</th>
                        <th class="hidden-xs text-right">Rentevoet</th>
                        <th class="hidden-xs text-right hidden-md hidden-lg">Termijn</th>
                        <th class="hidden-xs hidden-sm text-center">Resterende duur</th>
                        <th class="hidden-xs hidden-sm text-center">Investeringsbedrag</th>
                        <th class="text-right">Aflossing in behandeling</th>
                        <th class="hidden-md hidden-lg"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for art in articles_nl %}
                        <tr>
                            <td class="hidden-md hidden-lg {{ art.risk_class }} sm-width">{{ art.risk_title }}</td>

                            <td class="hidden-xs hidden-sm">10.01.2014</td>

                            <td class="loan-title">
                                <a href="{{ path('lender_portfolio_loans') }}">{{ art.title }}</a>
                            </td>

                            <td class="hidden-sm hidden-md hidden-lg text-right">
                                {{ art.interest }}<br>{{ art.duration }}
                            </td>

                            <td class="hidden-xs hidden-sm text-center"><i class="categoryIcon">{{ art.category }}</i></td>
                            <td class="hidden-xs text-right">{{ art.interest }}<span class="grade grade-b grade-small hidden-xs hidden-sm">B</span></td>
                            <td class="hidden-xs text-right hidden-md hidden-lg">{{ art.duration }}</td>
                            <td class="hidden-xs hidden-sm text-center">{{ art.days_left }}</td>
                            <td class="hidden-xs hidden-sm text-right">{{ art.amount }}</td>
                            <td class="text-right">{{ art.amount_pending }}</td>
                            <td class="hidden-md hidden-lg sm-width">
                                <a href="{{ path('loanDetails') }}" class="more"><i class="glyphicon glyphicon-chevron-right"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


         {# ================ SPAIN ====================== #}
        <div class="row">
            <div class="col-xs-12 cancel-padding">
                <table class="table custom-table">
                    <thead>
                    <tr>
                        <th class="hidden-md hidden-lg"></th>
                        <th class="hidden-xs hidden-sm">Activa desde</th>
                        <th>Proyectos de préstamos</th>
                        <th class="hidden-sm hidden-md hidden-lg"></th>
                        <th class="hidden-xs hidden-sm text-center">Categoría</th>
                        <th class="hidden-xs text-right">Tipo de interés</th>
                        <th class="hidden-xs text-right hidden-md hidden-lg">Plazo</th>
                        <th class="hidden-xs hidden-sm text-center">Tiempo restante</th>
                        <th class="hidden-xs hidden-sm text-center">Importe de inversión</th>
                        <th class="text-right">Amortización pendiente</th>
                        <th class="hidden-md hidden-lg"></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for art in articles_es %}
                        <tr>
                            <td class="hidden-md hidden-lg {{ art.risk_class }} sm-width">{{ art.risk_title }}</td>

                            <td class="hidden-xs hidden-sm">10.01.2014</td>

                            <td class="loan-title">
                                <a href="{{ path('lender_portfolio_loans') }}">{{ art.title }}</a>
                            </td>

                            <td class="hidden-sm hidden-md hidden-lg text-right">
                                {{ art.interest }}<br>{{ art.duration }}
                            </td>

                            <td class="hidden-xs hidden-sm text-center"><i class="categoryIcon">{{ art.category }}</i></td>
                            <td class="hidden-xs text-right">{{ art.interest }}<span class="grade grade-c grade-small hidden-xs hidden-sm">C</span></td>
                            <td class="hidden-xs text-right hidden-md hidden-lg">{{ art.duration }}</td>
                            <td class="hidden-xs hidden-sm text-center">{{ art.days_left }}</td>
                            <td class="hidden-xs hidden-sm text-right">{{ art.amount }}</td>
                            <td class="text-right">{{ art.amount_pending }}</td>
                            <td class="hidden-md hidden-lg sm-width">
                                <a href="{{ path('loanDetails') }}" class="more"><i class="glyphicon glyphicon-chevron-right"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>

    {# ================ END TO DELETE ====================== #}


    </div><!-- .container -->

{% endblock body %}