{% extends 'layout.html.twig' %}

{% block body %}

<div class="container">

    <table class="table">
        <thead>
        <tr>
            <td>Kreditprojek</td>
            <td>Kategorie</td>
            <td>Betrag</td>
            <td>Zinssatz</td>
            <td>Laufzeit</td>
            <td>% finanziert</td>
            <td>Noch offen</td>
            <td>Restzeit</td>
            <td>Anlegen</td>
        </tr>
        </thead>
        <tbody>
    {% for art in articles %}
    <tr>
        <td>{{ art.title }}</td>
        <td><i class="categoryIcon"></i></td>
        <td class="text-right">{{ art.amount }}</td>
        <td class="text-right">{{ art.interest }}</td>
        <td>{{ art.duration }}</td>
        <td>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">{{ art.funded }}e</span>
                </div>
            </div>
        </td>
        <td class="text-right">{{ art.amount_pending }}</td>
        <td class="text-center">{{ art.days_left }}</td>
        <td>
            <div class="bid-item">
                <div class="invest"><input type="button" value="Anlegen" class="btn btn-nvstr btn-invest btn-block" /></div>
                <div class="bid-form hidden">
                    <input class="inp-value" type="text" name="" />
                    <input type="button" value="Biten" class="place-bid btn btn-nvstr btn-invest"/>
                </div>
                <div class="bid-value hidden"><span>-</span>
                    <a href="javascript:void(0)" class="edit btn-edit">✎</a>
                    <a href="javascript:void(0)" class="remove"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>

</div><!-- end .container -->

{% endblock %}

 {% block js %}
     {{ parent() }}

     <script>

         function show_button(item) {
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').removeClass('hidden');
         }

         function show_form(item) {
             item.children('.bid-form').removeClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').addClass('hidden');
         }

         function show_completed_form(item, inputValue) {
             item.children('.bid-value').children('span').html(inputValue);
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').removeClass('hidden');
             item.children('.invest').addClass('hidden');
             // should have an ajax call to a script to add in sessoin or in db
         }

         function remove_form(item) {
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').removeClass('hidden');
             item.children('.bid-form').children('.inp-value').val('');
         }

         function edit_form(item) {
             item.children('.bid-form').removeClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').addClass('hidden');
         }


         $(function(){
             $('.invest input').click(function(){
                 var item = $(this).parent().parent();
                 show_form(item);
             });
             $('.bid-form .place-bid').click(function(){
                 var item = $(this).parent().parent();
                 var inputValue = $(this).parent().children('.inp-value').val();
                 if ( inputValue == '' || inputValue == undefined ) {
                     show_button(item);
                     return;
                 }
                 show_completed_form(item, inputValue);
             });
             $('.bid-value .remove').click(function(){
                 var item = $(this).parent().parent();
                 remove_form(item);
             });
             $('.bid-value .edit').click(function(){
                 var item = $(this).parent().parent();
                 edit_form(item);
             });
         });

     </script>

 {% endblock %}