{% extends 'layout.html.twig' %}

{% block body %}

<div class="container">

    <div class="row">
        <h1 class="hidden-xs col-md-12 col-lg-12">{{ 'Aktuelle Kreditprojekte' }}</h1>
    </div>

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-9 hidden-sm hidden-md hidden-lg">{{ 'Aktuelle Kreditprojekte' }}</div>
                <div class="col-xs-3 pull-right hidden-sm hidden-md hidden-lg">
                    <button id="filter-btn" data-toggle="offcanvas" class="btn btn-primary pull-right" type="button">{{ 'Filtern' }}</button>
                </div>
            </div>
        </div>

        <div id="sidebar-filter" class="sidebar-offcanvas">
                <div class="row">
                    <div class="col-sm-12 hidden-sm hidden-md hidden-lg">
                        <a href="#" id="filter-close" class="pull-right">{{ 'X' }}</a>
                    </div>
                </div>

                <div class="col-md-12">
                    <form action="" method="get" role="form" id="filter-bar">

                        <p>{{ 'Kategorie' }}</p>

                        <div class="radio">
                            <label>
                                <input type="radio" id="" name="option" value="option1" checked>
                                {{ 'Betriebsmittelfinanzierung' }}
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                                <input type="radio" id="" name="option" value="option2">
                                {{ 'Investition in Anlagevermögen' }}
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                                <input type="radio" id="" name="option" value="option3">
                                {{ 'Wachstumkapital' }}
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                                <input type="radio" id="" name="option" value="option4">
                                {{ 'Tilgung von Steuer-oder Versicherungsverbindlichkeiten' }}
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                                <input type="radio" id="" name="option" value="option5">
                                {{ 'Sonstige' }}
                            </label>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <p>{{ 'Kreditbetrag' }}</p>
                                <div id="slider-range-amount"></div>
                                <p class="text-center">
                                    <label for="amount"></label>
                                    <input type="text" id="amount" class="text-center" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                </p>
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <p>{{ 'Zinssatz' }}</p>
                                <div id="slider-range-interest"></div>
                                <p class="text-center">
                                    <label for="interest"></label>
                                    <input type="text" id="interest" class="text-center" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                </p>
                            </div>

                            <div class="col-xs-12 col-sm-4">
                                <p>{{ 'Laufzeit' }}</p>
                                <div id="slider-range-year"></div>
                                <p class="text-center">
                                    <label for="years"></label>
                                    <input type="text" id="years" class="text-center" readonly style="border:0; color:#f6931f; font-weight:bold;">
                                </p>
                            </div>
                        </div><!-- end .row -->

                        <div class="row">
                            <p class="col-xs-12 text-center">
                                <input type="submit" class="btn btn-primary" value="Filtern">
                            </p>
                        </div>
                    </form>
                </div>
            </div><!-- end .sidebar-offcanvas -->

            <table class="table custom-table">
               {% include '_partials/tables/loanProjectsTable.html.twig' %}
            </table>

        </div>
    </div>

</div><!-- end .container -->

{% endblock %}

 {% block js %}
     {{ parent() }}

     <script>

         function show_button(item) {
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').removeClass('hidden');
         }

         function show_form(item) {
             item.children('.bid-form').removeClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').addClass('hidden');
         }

         function show_completed_form(item, inputValue) {
             item.children('.bid-value').children('span').html(inputValue);
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').removeClass('hidden');
             item.children('.invest').addClass('hidden');
             // should have an ajax call to a script to add in sessoin or in db
         }

         function remove_form(item) {
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').removeClass('hidden');
             item.children('.bid-form').children('.inp-value').val('');
         }

         function edit_form(item) {
             item.children('.bid-form').removeClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').addClass('hidden');
         }


         $(function(){
             $('.invest input').click(function(){
                 var item = $(this).parent().parent();
                 show_form(item);
             });
             $('.bid-form .place-bid').click(function(){
                 var item = $(this).parent().parent();
                 var inputValue = $(this).parent().children('.inp-value').val();
                 if ( inputValue == '' || inputValue == undefined ) {
                     show_button(item);
                     return;
                 }
                 show_completed_form(item, inputValue);
             });
             $('.bid-value .remove').click(function(){
                 var item = $(this).parent().parent();
                 remove_form(item);
             });
             $('.bid-value .edit').click(function(){
                 var item = $(this).parent().parent();
                 edit_form(item);
             });
         });

     </script>

 {% endblock %}