{% extends 'layout.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-2">Kreditprojekt</div>
        <div class="col-xs-1">Kategorie</div>
        <div class="col-xs-1">Betrag</div>
        <div class="col-xs-1">Zinssatz</div>
        <div class="col-xs-1">Laufzeit</div>
        <div class="col-xs-2">% finanziert</div>
        <div class="col-xs-2">Noch offen</div>
        <div class="col-xs-1">Restzeit</div>
        <div class="col-xs-1">Anlegen</div>
    </div>
    <div class="row">
        <div class="col-xs-2">Reparaturprojekt Ölpipelines in Nigeria</div>
        <div class="col-xs-1"><i class="categoryIcon"></i></div>
        <div class="col-xs-1">150.000 €</div>
        <div class="col-xs-1">6,99%</div>
        <div class="col-xs-1">4 Jahre</div>
        <div class="col-xs-2">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">60% Complete</span>
                </div>
            </div>
        </div>
        <div class="col-xs-2">60.000 €</div>
        <div class="col-xs-1">18 Tage</div>
        <div class="col-xs-1">
            <div class="bid-item">
                <div class="invest"><input type="button" value="bid" /></div>
                <div class="bid-form hidden">
                    <input class="inp-value" style="width: 30px;" type="text" name="" />
                    <input class="place-bid" type="button" value="bid" />
                </div>
                <div class="bid-value hidden"><span>-</span>
                    <a href="javascript:void(0)" class="edit">[e]</a>
                    <a href="javascript:void(0)" class="remove">[x]</a>
                </div>
            </div>
        </div>
    </div>


    <table class="table">
    <thead>
    <tr>
        <td>Kreditprojek</td>
        <td>Kategorie</td>
        <td>Betrag</td>
        <td>Zinssatz</td>
        <td>Laufzeit</td>
        <td>% finanziert</td>
        <td>Noch offen</td>
        <td>Restzeit</td>
        <td>Anlegen</td>
    </tr>
    </thead>
    <tbody>
    {% for art in articles %}
    <tr>
        <td>{{ art.title }}</td>
        <td><i class="categoryIcon"></i></td>
        <td class="text-right">{{ art.amount }}</td>
        <td class="text-right">{{ art.interest }}</td>
        <td>{{ art.duration }}</td>
        <td>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                    <span class="sr-only">{{ art.funded }}e</span>
                </div>
            </div>
        </td>
        <td class="text-right">{{ art.amount_pending }}</td>
        <td class="text-center">{{ art.days_left }}</td>
        <td>
            <div class="bid-item">
                <div class="invest"><input type="button" value="Anlegen" class="btn btn-nvstr btn-invest btn-block" /></div>
                <div class="bid-form hidden">
                    <input class="inp-value" type="text" name="" />
                    <input type="button" value="Biten" class="place-bid btn btn-nvstr btn-invest"/>
                </div>
                <div class="bid-value hidden"><span>-</span>
                    <a href="javascript:void(0)" class="edit btn-edit">✎</a>
                    <a href="javascript:void(0)" class="remove"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</div><!-- end .container -->

{% endblock %}

 {% block js %}
     {{ parent() }}

     <script>
         $(function(){
             $('.invest input').click(function(){
                 var item = $(this).parent().parent();
                 item.children('.bid-form').removeClass('hidden');
                 item.children('.bid-value').addClass('hidden');
                 item.children('.invest').addClass('hidden');
             });
             $('.bid-form .place-bid').click(function(){
                 var item = $(this).parent().parent();
                 var inputValue = $(this).parent().children('.inp-value').val();
                 item.children('.bid-value').children('span').html(inputValue);
                 item.children('.bid-form').addClass('hidden');
                 item.children('.bid-value').removeClass('hidden');
                 item.children('.invest').addClass('hidden');
             });
             $('.bid-value .remove').click(function(){
                 var item = $(this).parent().parent();
                 item.children('.bid-form').addClass('hidden');
                 item.children('.bid-value').addClass('hidden');
                 item.children('.invest').removeClass('hidden');
                 item.children('.bid-form').children('.inp-value').val('');
             });
             $('.bid-value .edit').click(function(){
                 var item = $(this).parent().parent();
                 item.children('.bid-form').removeClass('hidden');
                 item.children('.bid-value').addClass('hidden');
                 item.children('.invest').addClass('hidden');
             });
         });
     </script>

 {% endblock %}