{% extends 'layout.html.twig' %}

{% block body %}

<div class="container padding-48">

    <div class="row">
        <h1 class="hidden-xs col-md-12 col-lg-12">{{ 'Aktuelle Kreditprojekte' }}</h1>
    </div>

    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-9 hidden-sm hidden-md hidden-lg">{{ 'Aktuelle Kreditprojekte' }}</div>
                <div class="col-xs-3 pull-right hidden-sm hidden-md hidden-lg">
                    {#<button id="filter-btn" data-toggle="offcanvas" class="btn btn-primary pull-right" type="button">{{ 'Filtern' }}</button>#}

                    <button id="filter-btn" data-toggle="offcanvas" class="btn btn-block btn-primary pull-right" type="button"><i class="fa fa-bars fa-lg fa-white"></i></button>
                </div>
            </div>
        </div>

        <div class="desp-20 hidden-md"></div>

        <div id="sidebar-filter" class="sidebar-offcanvas">
            <div class="row">
                <div class="col-sm-12 hidden-sm hidden-md hidden-lg">
                    <a href="#" id="filter-close" class="pull-right">{{ 'X' }}</a>
                </div>
            </div>

            <div class="row">
                <form action="" method="get" role="form" id="filter-bar">
                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">

                        {{ 'Kategorie' }}

                        <div class="radio radio-handler">
                            <label>
                                <input type="radio" id="" class="hidden" name="option" value="{{ 'Betriebsmittelfinanzierung' }}" checked="checked">
                            </label>
                            <button type="button" class="btn btn-block btn-primary">{{ 'Betriebsmittelfinanzierung' }}</button>
                        </div>

                        <div class="radio radio-handler">
                            <label>
                                <input type="radio" id="" class="hidden" name="option" value="{{ 'Investition in Anlagevermögen' }}">
                            </label>
                            <button type="button" class="btn btn-block btn-primary">{{ 'Investition in Anlagevermögen' }}</button>
                        </div>

                        <div class="radio radio-handler">
                            <label>
                                <input type="radio" id="" class="hidden" name="option" value="{{ 'Wachstumkapital' }}">
                            </label>
                            <button type="button" class="btn btn-block btn-primary">{{ 'Wachstumkapital' }}</button>
                        </div>

                        <div class="radio radio-handler">
                            <label>
                                <input type="radio" id="" class="hidden" name="option" value="{{ 'Tilgung von Steuer-oder Versicherungsverbindlichkeiten' }}">
                            </label>
                            <button type="button" class="btn btn-block btn-primary">{{ 'Tilgung von Steuer-oder Versicherungsverbindlichkeiten' }}</button>
                        </div>

                        <div class="radio radio-handler">
                            <label>
                                <input type="radio" id="" class="hidden" name="option" value="{{ 'Sonstige' }}">
                            </label>
                            <button type="button" class="btn btn-block btn-primary">{{ 'Sonstige' }}</button>
                        </div>

                    </div>

                    <div class="hidden-xs col-sm-2">
                        <p><strong>{{  'Kategorie' }}</strong></p>
                        <div class="btn-group btn-block">
                            <button type="button" class="form-control btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="pull-left">Alle</span>
                                <span class="fa fa-chevron-down pull-right"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><i class="glyphicon glyphicon-ok pull-right"></i>{{ 'Betriebsmittelfinanzierung' }}
                                        </a></li>
                                <li><a href="#">{{ 'Investition in Anlagevermögen' }}</a></li>
                                <li><a href="#">{{ 'Wachstumkapital' }}</a></li>
                                <li><a href="#">{{ 'Tilgung von Steuer-oder Versicherungsverbindlichkeiten' }}</a></li>
                                <li><a href="#">{{ 'Sonstige' }}</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        <p><strong>{{ 'Kreditbetrag' }}</strong></p>
                        <div id="slider-range-amount"></div>
                        <p class="text-center">
                            <label for="amount"></label>
                            <input type="text" id="amount" class="text-center" readonly style="border:0; color:#f6931f; font-weight:bold;">
                        </p>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        <p><strong>{{ 'Zinssatz' }}</strong></p>
                        <div id="slider-range-interest"></div>
                        <p class="text-center">
                            <label for="interest"></label>
                            <input type="text" id="interest" class="text-center" readonly style="border:0; color:#f6931f; font-weight:bold;">
                        </p>
                    </div>

                    <div class="col-xs-12 col-sm-3">
                        <p><strong>{{ 'Laufzeit' }}</strong></p>
                        <div id="slider-range-year"></div>
                        <p class="text-center">
                            <label for="years"></label>
                            <input type="text" id="years" class="text-center" readonly style="border:0; color:#f6931f; font-weight:bold;">
                        </p>
                    </div>

                    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                        <p></p>
                        <input type="submit" class="btn btn-block btn-primary" value="Filtern">
                    </div>

                    <div class="hidden-xs col-sm-1">
                        <p class="desp-10"></p>
                        <input type="submit" class="btn btn-primary" value="Filtern">
                    </div>


                </form>
            </div><!-- end .row -->

        </div><!-- end .sidebar-offcanvas -->

            <div class="row">
                <div class="hidden-xs col-sm-12">
                    <hr />
                </div>
            </div>

            <div class="row">
                <div class="hidden-xs col-sm-9"><strong>1-29 von 29 Kredite</strong></div>
                <div class="hidden-xs col-sm-3">
                    <form action="">
                        <div class="input-search">
                            <i class="fa fa-search"></i>
                            <input type="text" placeholder="Suchen" class="form-control" name="search" value="">
                        </div>
                    </form>
                </div>
            </div>

            <div class="hidden-xs desp-20"></div>


            <table class="table custom-table">
               {% include '_partials/tables/loanProjectsTable.html.twig' %}
            </table>

        </div>
    </div>

</div><!-- end .container -->

{% endblock %}

 {% block js %}
     {{ parent() }}

     <script>

        /* bid button */
         function show_button(item) {
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').removeClass('hidden');
         }

         function show_form(item) {
             item.children('.bid-form').removeClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').addClass('hidden');
         }

         function show_completed_form(item, inputValue) {
             item.children('.bid-value').children('span').html(inputValue);
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').removeClass('hidden');
             item.children('.invest').addClass('hidden');
             // should have an ajax call to a script to add in sessoin or in db
         }

         function remove_form(item) {
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').removeClass('hidden');
             item.children('.bid-form').children('.inp-value').val('');
         }

         function edit_form(item) {
             item.children('.bid-form').removeClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').addClass('hidden');
         }

         $(function(){
             $('.invest input').click(function(){
                 var item = $(this).parent().parent();
                 show_form(item);
             });
             $('.bid-form .place-bid').click(function(){
                 var item = $(this).parent().parent();
                 var inputValue = $(this).parent().children('.inp-value').val();
                 if ( inputValue == '' || inputValue == undefined ) {
                     show_button(item);
                     return;
                 }
                 show_completed_form(item, inputValue);
             });
             $('.bid-value .remove').click(function(){
                 var item = $(this).parent().parent();
                 remove_form(item);
             });
             $('.bid-value .edit').click(function(){
                 var item = $(this).parent().parent();
                 edit_form(item);
             });
         });

        /* end bid button */

         /* input radio that turns into a button*/

        $(function(){
            $('.radio-handler button.btn').click(function(){
                var that = this;
                // reset
                $('div.radio-handler').each(function(){
                    $(this).children('button').addClass('btn-primary');
                    $(this).children('button').removeClass('btn-selected');
                    $(this).children('input').prop("checked", false);
                });
                // select current
                $(that).removeClass('btn-primary');
                $(that).addClass('btn-selected');
                $(that).parent().children('label').children('input').prop("checked", true);
            });
        });


     </script>

 {% endblock %}