{% extends 'layout.html.twig' %}

{% block body %}

<div class="container spacing">

    <div class="row">
        <div class="col-xs-10 col-md-12 col-lg-12"><h1>{{ 'Aktuelle Kreditprojekte' }}</h1></div>
        <div class="col-xs-2 hidden-md hidden-lg">
            <a id="filter-btn" class="pull-right"><i class="fa fa-search fa-lg"></i></a>
        </div>
    </div>

    <div id="filter-section">
        <div class="row">
            {% include '_partials/lender/filter_loans_form.html.twig' %}
        </div><!-- end .row -->
    </div><!-- end #filter-section -->

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-12">
            <hr />
        </div>
    </div><!-- end .row -->

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-9"><strong>1-29 von 29 Kredite</strong></div>
        <div class="hidden-xs hidden-sm col-md-3">
            <form action="">
                <div class="input-search">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="Suchen" class="form-control" name="search" value="">
                </div>
            </form>
        </div>
    </div><!-- end .row -->

    <div class="hidden-xs hidden-sm desp-20"></div>

    <div class="row">
        <div class="col-xs-12 cancel-padding">
            <table class="table custom-table">
                {% include '_partials/tables/loanProjectsTable.html.twig' %}
            </table>
        </div>
    </div><!-- end .row -->

    <!-- PAGINATION -->

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-1 col-lg-1">
            <div class="btn-group btn-block pagination">
                <div class="per-page">
                    <button data-toggle="dropdown" class="form-control btn dropdown-toggle" type="button" aria-expanded="false">
                        <span class="pull-left">{{ '15' }}</span>
                        <span class="fa fa-chevron-down pull-right"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-check pull-right"></i>{{ '15' }}
                            </a></li>
                        <li><a href="#">{{ '30' }}</a></li>
                        <li><a href="#">{{ '60' }}</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-11">
            <ul class="pagination pagination-sm pull-right">
                <li><a aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
            </ul>
        </div>

    </div><!-- end .row -->

</div><!-- end .container -->

{% endblock %}

 {% block js %}
     {{ parent() }}

     <script>

        /* bid button */
         function show_button(item) {
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').removeClass('hidden');
         }

         function show_form(item) {
             item.children('.bid-form').removeClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').addClass('hidden');
         }

         function show_completed_form(item, inputValue) {
             item.children('.bid-value').children('span').html(inputValue);
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').removeClass('hidden');
             item.children('.invest').addClass('hidden');
             // should have an ajax call to a script to add in sessoin or in db
         }

         function remove_form(item) {
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').removeClass('hidden');
             item.children('.bid-form').children('.inp-value').val('');
         }

         function edit_form(item) {
             item.children('.bid-form').removeClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').addClass('hidden');
         }

         $(function(){
             $('.invest input').click(function(){
                 var item = $(this).parent().parent();
                 show_form(item);
             });
             $('.bid-form .place-bid').click(function(){
                 var item = $(this).parent().parent();
                 var inputValue = $(this).parent().children('.inp-value').val();
                 if ( inputValue == '' || inputValue == undefined ) {
                     show_button(item);
                     return;
                 }
                 show_completed_form(item, inputValue);
             });
             $('.bid-value .remove').click(function(){
                 var item = $(this).parent().parent();
                 remove_form(item);
             });
             $('.bid-value .edit').click(function(){
                 var item = $(this).parent().parent();
                 edit_form(item);
             });

         });

        /* end bid button */

     </script>

 {% endblock %}