<thead>
<tr>
    <th class="hidden-md hidden-lg"></th>
    <th>Kreditprojekt</th>
    <th class="hidden-sm hidden-md hidden-lg"></th>
    <th class="hidden-xs visible-sm hidden-md hidden-lg text-right">Laufzeit</th>
    <th class="hidden-xs visible-sm hidden-md hidden-lg text-right">Zinssatz</th>
    <th class="hidden-xs hidden-sm">Kategorie</th>
    <th class="text-right">Betrag</th>
    <th class="hidden-xs hidden-md hidden-lg"></th>
    <th class="hidden-xs hidden-sm text-center">Zinssatz</th>
    <th class="hidden-xs hidden-sm">Laufzeit</th>
    <th class="hidden-xs hidden-sm">% finanziert</th>
    <th class="hidden-xs hidden-sm text-center">Noch offen</th>
    <th class="hidden-xs hidden-sm text-center">Restzeit</th>
    <th class="hidden-xs hidden-sm text-center">Gebot</th>
</tr>
</thead>
<tbody>
{% for art in articles %}
    <tr>
        <td class="hidden-md hidden-lg {{ art.risk_class }} sm-width"><a href="{{ path('loanDetails') }}">{{ art.risk_title }}</a></td>
        <td class="loan-title">
            <a href="{{ path('loanDetails') }}">{{ art.title }}</a>
        </td>
        <td class="hidden-sm hidden-md hidden-lg text-right">
            <a href="{{ path('loanDetails') }}">{{ art.interest }}<br>{{ art.duration }}</a>
        </td>
        <td class="hidden-xs visible-sm hidden-md hidden-lg text-right"> 4 jahre</td>
        <td class="hidden-xs visible-sm hidden-md hidden-lg text-right">{{ art.interest }}</td>

        <td class="hidden-md hidden-lg text-right">
            {{ art.amount }}
        </td>
        <td class="hidden-xs hidden-sm text-center"><i class="categoryIcon">{{ art.category }}</i></td>
        <td class="hidden-xs hidden-sm text-right">{{ art.amount }}</td>
        <td class="hidden-xs hidden-sm text-right">{{ art.interest }}<span class="grade {{ art.risk_class }} grade-small">{{ art.risk_title }}</span>
        </td>
        <td class="hidden-xs hidden-sm">{{ art.duration }}</td>
        <td class="hidden-xs hidden-sm">
            <div class="progress default-progress progress-update pull-left">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: {{ art.filled }};">
                </div>
            </div>
            <div class="percentage pull-right">{{ art.funded }}</div>
        </td>
        <td class="hidden-xs hidden-sm text-right">{{ art.amount_pending }}</td>
        <td class="hidden-xs hidden-sm text-center">{{ art.days_left }}</td>
        <td class="hidden-xs hidden-sm text-right bid-amount">
            {{ art.amount_pending }}
        </td>
        <td class="hidden-xs hidden-md hidden-lg sm-width">
            <a href="{{ path('loanDetails') }}" class="more"><i class="fa fa-lg fa-caret-right"></i></a>
        </td>
    </tr>
{% endfor %}
</tbody>