<thead>
<tr>
    <th class="hidden-xs"></th>
    <!-- this new key 'Payment' appears only on mobile -->
    <th class="first-xs hidden-sm hidden-md hidden-lg">Einzug</th>
    <th class="first-xs hidden-xs">Datum</th>
    <th class="xs-pos-right">Verwendungszweck</th>
    <th class="hidden-xs">Investitionen</th>
    <th class="hidden-xs text-right">Gesamtbetrag</th>
    <th class="hidden-xs"></th>
</tr>
</thead>
<tbody>
<tr>
    <td class="hidden-xs"></td>
    <td class="first-xs hidden-sm hidden-md hidden-lg">15.01.2015<br><span><a href="" class="hidden-sm hidden-md hidden-lg">15.23 €</a></span></td>
    <td class="first-xs hidden-xs">15.01.2015</td>
    <td class="xs-pos-right"><a href="{{ path('lender_payments_batch_details') }}">RR31-L714668302-T1433923996-C029</a></td>
    <td class="hidden-xs">2</td>
    <td class="text-right hidden-xs"><a href="{{ 'lender_payments_batch_details' }}">15.23 €</a></td>
    <td class="hidden-xs"></td>
</tr>
<tr>
    <td class="hidden-xs"></td>
    <td class="first-xs hidden-sm hidden-md hidden-lg">15.02.2015<br><span><a href="" class="hidden-sm hidden-md hidden-lg">15.23 €</a></span></td>
    <td class="first-xs hidden-xs">15.02.2015</td>
    <td class="xs-pos-right"><a href="{{ path('lender_payments_batch_details') }}">RR31-L714668302-T1433923996-C027</a></td>
    <td class="hidden-xs">3</td>
    <td class="text-right hidden-xs"><a href="{{ path('lender_payments_batch_details') }}">17.47 €</a></td>
    <td class="hidden-xs"></td>
</tr>
<tr>
    <td class="hidden-xs"></td>
    <td class="first-xs hidden-sm hidden-md hidden-lg">15.03.2015<br><span><a href="" class="hidden-sm hidden-md hidden-lg">15.23 €</a></span></td>
    <td class="first-xs hidden-xs">15.03.2015</td>
    <td class="xs-pos-right"><a href="{{ path('lender_payments_batch_details') }}">RR31-L714668302-T1433923996-C023</a></td>
    <td class="hidden-xs">5</td>
    <td class="text-right hidden-xs"><a href="{{ path('lender_payments_batch_details') }}">11.33 €</a></td>
    <td class="hidden-xs"></td>
</tr>
<tr>
    <td class="hidden-xs"></td>
    <td class="first-xs hidden-sm hidden-md hidden-lg">15.04.2015<br><span><a href="" class="hidden-sm hidden-md hidden-lg">15.23 €</a></span></td>
    <td class="first-xs hidden-xs">15.04.2015</td>
    <td class="xs-pos-right"><a href="{{ path('lender_payments_batch_details') }}">RR31-L714668302-T1433923996-C014</a></td>
    <td class="hidden-xs">3</td>
    <td class="text-right hidden-xs"><a href="{{ path('lender_payments_batch_details') }}">17.20 €</a></td>
    <td class="hidden-xs"></td>
</tr>
</tbody>
