<thead>
<tr>
    <th class="hidden-md hidden-lg"></th>
    <th></th>
    <th>Kreditprojekt</th>
    <th class="hidden-sm hidden-md hidden-lg"></th>
    <th class="hidden-xs hidden-sm text-center">Kategorie</th>
    <th class="hidden-xs hidden-sm text-center">Betrag</th>
    <th class="hidden-xs text-right">Laufzeit</th>
    <th class="hidden-xs text-right">Zinssatz</th>
    <th class="hidden-xs hidden-sm">% finanziert</th>
    <th class="hidden-xs hidden-sm text-center">Noch offen</th>
    <th class="hidden-xs hidden-sm text-center">Restzeit</th>
    <th class="text-right">Gebot</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for art in articles %}
    <tr>
        <td class="hidden-md hidden-lg {{ art.risk_class }} sm-width text-center"><a href="{{ path('loanDetails') }}">{{ art.risk_title }}</a></td>
        <td class=""></td>
        <td class="loan-title">
            <a class="xs-height" href="{{ path('loanDetails') }}">{{ art.title| truncate(35) }}</a>
        </td>
        <td class="hidden-sm hidden-md hidden-lg text-right">
            <a href="{{ path('loanDetails') }}">{{ art.interest }}<br>{{ art.duration }}</a>
        </td>
        <td class="hidden-xs hidden-sm text-center"><i class="categoryIcon">{{ art.category }}</i></td>
        <td class="hidden-xs hidden-sm text-right">{{ art.amount }}</td>
        <td class="hidden-xs text-right">{{ art.duration }}</td>
        <td class="hidden-xs text-right">{{ art.interest }}<span class="grade {{ art.risk_class }} grade-small hidden-xs hidden-sm">{{ art.risk_title }}</span>
        </td>
        <td class="hidden-xs hidden-sm">
            <div class="progress default-progress progress-update pull-left">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: {{ art.filled }};">
                </div>
            </div>
            <div class="percentage pull-right">{{ art.funded }}</div>
        </td>
        <td class="hidden-xs hidden-sm text-right">{{ art.amount_pending }}</td>
        <td class="hidden-xs hidden-sm text-center">{{ art.days_left }}</td>
        <td class="text-right">
            {{ art.amount_pending }}
        </td>
        <td></td>
    </tr>
{% endfor %}
</tbody>