<thead>
<tr>
    <th class="hidden-md hidden-lg"></th>
    <th>Kreditprojekt</th>
    <th class="hidden-md hidden-lg"></th>
    <th class="hidden-xs hidden-sm">Kategorie</th>
    <th class="text-center">Betrag</th>
    <th class="hidden-md hidden-lg"></th>
    <th class="hidden-xs hidden-sm text-center">Zinssatz</th>
    <th class="hidden-xs hidden-sm">Laufzeit</th>
    <th class="hidden-xs hidden-sm">% finanziert</th>
    <th class="hidden-xs hidden-sm">Noch offen</th>
    <th class="hidden-xs hidden-sm">Restzeit</th>
    <th class="hidden-xs hidden-sm">Anlegen</th>
</tr>
</thead>
<tbody>
{% for art in articles %}
    <tr>
        <td class="hidden-md hidden-lg {{ art.risk_class }} sm-width">{{ art.risk_title }}</td>
        <td class="loan-title">
            <a href="{{ path('loanDetails') }}">{{ art.title }}</a>
        </td>
        <td class="hidden-md hidden-lg">
            {{ art.interest }}<br>{{ art.duration }}
        </td>
        <td class="hidden-md hidden-lg sm-width-bar">
            <div class="progress custom-progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{ art.filled }}" aria-valuemin="0" aria-valuemax="100"
                     style="min-width: 2em; width: {{ art.filled }};">
                </div>
                <div class="full-amount">
                    {{ art.amount }}
                </div>
            </div>
        </td>
        <td class="hidden-xs hidden-sm text-center"><i class="categoryIcon">{{ art.category }}</i></td>
        <td class="hidden-xs hidden-sm text-right">{{ art.amount }}</td>
        <td class="hidden-xs hidden-sm text-right">{{ art.interest }}<span class="grade {{ art.risk_class }} grade-small">{{ art.risk_title }}</span>
        </td>
        <td class="hidden-xs hidden-sm">{{ art.duration }}</td>
        <td class="hidden-xs hidden-sm">
            <div class="progress default-progress pull-left">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: {{ art.filled }};">
                </div>
            </div>
            <div class="percentage pull-left text-right">{{ art.funded }}</div>
        </td>
        <td class="hidden-xs hidden-sm text-right">{{ art.amount_pending }}</td>
        <td class="hidden-xs hidden-sm text-center">{{ art.days_left }}</td>
        <td class="hidden-xs hidden-sm">
            <div class="bid-item">
                <div class="invest"><input type="button" value="Anlegen" class="btn btn-nvstr btn-invest btn-block"/>
                </div>
                <div class="bid-form hidden">
                    <input class="inp-value" type="text" name=""/>
                    <input type="button" value="Biten" class="place-bid btn btn-nvstr btn-invest"/>
                </div>
                <div class="bid-value text-right hidden"><span>-</span>
                    <a href="javascript:void(0)" class="edit btn-edit">âœ</a>
                    <a href="javascript:void(0)" class="remove"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
        </td>
        <td class="hidden-md hidden-lg sm-width">
            <a href="{{ path('loanDetails') }}" class="more"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </td>
    </tr>
{% endfor %}
</tbody>