<thead>
<tr>
    <th>Aktiv seit</th>
    <th class="hidden-xs hidden-sm">Kreditprojekt</th>
    <th class="text-center">Kategorie</th>
    <th class="hidden-xs hidden-sm text-center">Sollzins</th>
    <th class="hidden-xs hidden-sm">Restlaufzeit</th>
    <th class="hidden-xs hidden-sm">Anlagebetrag</th>
    <th class="hidden-xs hidden-sm text-center">Ausstehende Tilgung</th>
</tr>
</thead>
<tbody>
{% for art in articles %}
    <tr>
        <td>10.01.2014</td>
        <td class="loan-title">
            <a href="{{ path('lender_portfolio_loans') }}">{{ art.title }}</a>
        </td>
        <td class="hidden-xs hidden-sm text-center"><i class="categoryIcon">{{ art.category }}</i></td>
        <td class="text-right">{{ art.interest }}</td>
        <td class="text-center">{{ art.days_left }}</td>
        <td class="hidden-xs hidden-sm text-right">{{ art.amount }}</td>
        <td class="hidden-xs hidden-sm text-right">{{ art.amount_pending }}</td>
    </tr>
{% endfor %}
</tbody>