<thead>
<tr>
    <th class="hidden-md hidden-lg"></th>
    <th class="hidden-xs hidden-sm">Aktiv seit</th>
    <th class="hidden-md hidden-lg"></th>
    <th>Kreditprojekt</th>
    <th class="hidden-sm hidden-md hidden-lg"></th>
    <th class="hidden-xs hidden-sm text-center">Kategorie</th>
    <th class="hidden-xs text-right">Sollzins</th>
    <th class="hidden-xs text-right hidden-md hidden-lg">Laufzeit</th>
    <th class="hidden-xs hidden-sm text-center">Restlaufzeit</th>
    <th class="hidden-xs hidden-sm text-center">Anlagebetrag</th>
    <th class="text-right right-position">Ausstehend</th>
</tr>
</thead>
<tbody>
{% for art in articles %}
    <tr>
        <td class="hidden-md hidden-lg {{ art.risk_class }} sm-width text-center"><a href="{{ path('loanDetails') }}">{{ art.risk_title }}</a></td>

        <td class="hidden-xs hidden-sm">10.01.2014</td>
        <td class="hidden-md hidden-lg"></td>
        <td class="loan-title">
            <a href="{{ path('lender_portfolio_loans') }}">{{ art.title }}</a>
        </td>

        <td class="hidden-sm hidden-md hidden-lg text-right">
            <a href="{{ path('loanDetails') }}">{{ art.interest }}<br>{{ art.duration }}</a>
        </td>

        <td class="hidden-xs hidden-sm text-center"><i class="categoryIcon">{{ art.category }}</i></td>
        <td class="hidden-xs text-right">{{ art.interest }}<span class="grade grade-b grade-small hidden-xs hidden-sm">B</span></td>
        <td class="hidden-xs text-right hidden-md hidden-lg">{{ art.duration }}</td>
        <td class="hidden-xs hidden-sm text-center">{{ art.days_left }}</td>
        <td class="hidden-xs hidden-sm text-right">{{ art.amount }}</td>
        <td class="text-right right-position">{{ art.amount_pending }}</td>
    </tr>
{% endfor %}
</tbody>