<form action="" method="post" role="form" class="form-register" id="">

    <div class="desp-10 hidden-md hidden-lg"></div>
    <h1 class="faux-h2 hidden-sm">{{ '3 | Zeichnungsberechtigte' }}</h1>

    <div class="row">
        <div class="col-xs-12 cancel-padding">
            <h2 class="faux-h3">{{ 'Persönliche Angaben ' }} <small class="pull-right">* Pflichtfeld</small></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>Geben Sie bitte die Daten des antragstellenden Geschäftsführers ein. Besteht eine gemeinsame Vertretungsberechtigung, können Sie nach dem Abspeichern noch weitere zeichnungsberechtigte Personen hinzufügen. Andernfalls setzen Sie bitte ein Häckchen vor “Diese Person ist alleinvertretungsberechtigt”.</p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-12">
            <div class="radio-buttons">
                <input type="radio" class="hidden" value="male" name="approved_signatory_gender" id="approved_signatory_gender_m" required="required">
                <div class="custom-circle">
                    <span></span> <!-- add class .selected when user clicks -->
                </div>
                <label for="approved_signatory_gender_m" class="required"> {{ 'Herr' }}</label>
            </div>
            <div class="radio-buttons">
                <input type="radio" class="hidden" value="female" name="approved_signatory_gender" id="approved_signatory_gender_f" required="required">
                <div class="custom-circle">
                    <span></span>
                </div>
                <label for="approved_signatory_gender_f" class="required"> {{ 'Frau' }}</label>
            </div>
            <div class="clearfix"></div>
            <label for="approved_signatory_gender" class="error" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
        </div>
    </div><!-- end .row -->


    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="approved_signatory_first_name" class="required hidden-xs hidden-sm visible-md visible-lg">{{ 'Vorname' }}</label>
                <!-- add class 'error' for the input to make the border red  when the alert is also present -->
                <input type="text" id="approved_signatory_first_name" class="form-control" placeholder="Vorname" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="approved_signatory_last_name" class="required hidden-xs hidden-sm visible-md visible-lg">{{ 'Nachname' }}</label>
                <!-- add class 'error' for the input to make the border red  when the alert is also present -->
                <input type="text" id="approved_signatory_last_name" class="form-control" placeholder="Nachname" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="checkbox-buttons">
                    <input type="checkbox" class="hidden" value="" name="approved_signatory_sign_permission" id="approved_signatory_sign_permission" required="required">
                    <div class="custom-square">
                        <span></span> <!-- add class .selected when user clicks -->
                    </div>
                    <label for="approved_signatory_sign_permission" class="required">
                        {{ 'Diese Person ist alleinvertretungsberechtigt' }}
                    </label>
                    <label role="alert" class="error hidden" for="approved_signatory_sign_permission">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="approved_signatory_birthday" class="required hidden-xs hidden-sm visible-md visible-lg">{{ 'Geburtsdatum' }}</label>
                <input type="text" id="approved_signatory_birthday" class="form-control" placeholder="Geburtsdatum TT.MM.JJJJ" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="approved_signatory_surname_at_birth" class="hidden-xs hidden-sm visible-md visible-lg">{{ 'Geburtsname' }}</label>
                <input type="text" id="approved_signatory_surname_at_birth" class="form-control" placeholder="Geburtsname">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="approved_signatory_city_of_birth" class="required hidden-xs hidden-sm visible-md visible-lg">{{ 'Geburtsort' }}</label>
                <input type="text" id="approved_signatory_city_of_birth" class="form-control" placeholder="Geburtsort" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="approved_signatory_country_of_birth" class="required hidden-xs hidden-sm visible-md visible-lg">{{ 'Geburtsland' }}</label>
                <select class="selectpicker show-tick" data-width="100%">
                    <option value="">Deutschland</option>
                    <option value="">Afghanistan</option>
                    <option value="">Albanien</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="approved_signatory_nationality" class="required hidden-xs hidden-sm visible-md visible-lg">{{ 'Staatsangehörigkeit' }}</label>
                <select class="selectpicker show-tick" data-width="100%">
                    <option value="">Deutschland</option>
                    <option value="">Afghanistan</option>
                    <option value="">Albanien</option>
                </select>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="approved_signatory_country_of_origin" class="required hidden-xs hidden-sm visible-md visible-lg">{{ 'Herkunftsstaatsangehörigkeit' }}</label>
                <select class="selectpicker show-tick" data-width="100%">
                    <option value="">Deutschland</option>
                    <option value="">Afghanistan</option>
                    <option value="">Albanien</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="approved_signatory_bank_employment_status" class="required hidden-xs hidden-sm visible-md visible-lg">{{ 'Erwerbssituation' }}</label>
                <select class="selectpicker show-tick" data-width="100%">
                    <option value="">Selbstständig</option>
                    <option value="">Angestellter Geschäftsführer</option>
                    <option value="">Angestellter</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 cancel-padding">
            <h2 class="faux-h3">{{ 'Kontaktdaten ' }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="approved_signatory_email" class="required hidden-xs hidden-sm">{{ 'Email' }}</label>
                <input type="email" placeholder="Email" id="approved_signatory_email" class="form-control" required="required">
                <label for="approved_signatory_email" class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="approved_signatory_cellphone" class="required hidden-xs hidden-sm visible-md visible-lg">{{ 'Mobiltelefon' }}</label>
                <input type="text" id="approved_signatory_cellphone" class="form-control" placeholder="Mobiltelefon" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div><!-- end .row -->

    <div class="row">
        <div class="col-xs-12 cancel-padding">
            <h2 class="faux-h3">{{ 'Adresse ' }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <div class="form-group">
                <label for="approved_signatory_street" class="required hidden-xs hidden-sm visible-md visible-lg">{{ 'Straße' }}</label>
                <input type="text" id="approved_signatory_street" class="form-control" placeholder="Straße" required="required" maxlength="200">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-2">
            <div class="form-group">
                <label for="approved_signatory_street_number" class="required hidden-xs hidden-sm visible-md visible-lg">{{ 'Nr' }}</label>
                <input type="text" id="approved_signatory_street_number" class="form-control" placeholder="Nr" required="required" maxlength="10">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="approved_signatory_postal_code" class="required hidden-xs hidden-sm visible-md visible-lg">{{ 'PLZ' }}</label>
                <input type="text" id="approved_signatory_postal_code" class="form-control" placeholder="PLZ" required="required" maxlength="20">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8">
            <div class="form-group">
                <label for="approved_signatory_city" class="required hidden-xs hidden-sm visible-md visible-lg">{{ 'Ort' }}</label>
                <input type="text" id="approved_signatory_city" class="form-control" placeholder="Ort" required="required" maxlength="200">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="approved_signatory_resident_since" class="required hidden-xs hidden-sm visible-md visible-lg">{{ 'Wohnhaft seit' }}</label>
                <input type="text" id="approved_signatory_resident_since" class="form-control" placeholder="TT.MM.JJJJ" required="required" maxlength="200">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 cancel-padding">
            <h2 class="faux-h3">{{ 'Persönliche Bürgschaft' }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="checkbox-buttons">
                    <input type="checkbox" class="hidden" value="" name="approved_signatory_warrantor" id="approved_signatory_warrantor">
                    <div class="custom-square">
                        <span></span> <!-- add class .selected when user clicks -->
                    </div>
                    <label for="approved_signatory_warrantor">
                        {{ 'Hiermit erkläre ich mich bereit, im Bedarfsfall als Bürge eine selbstschuldnerische Bürgschaft für den beantragten Kredit zu übernehmen. In dieser Funktion willige ich ein, dass meine persönlichen Daten durch die SCHUFA verarbeitet werden können. Hinweis: Wenn Sie dieses Formular für eine dritte Person ausfüllen, wird Zencap von dieser Person separat eine Erlaubnis zur Verarbeitung persönlicher Daten durch die SCHUFA einholen.' }}
                    </label>
                </div>

            </div>
        </div>
    </div>

</form>


