<form action="" method="post" role="form" class="form-register" id="">

    <div class="desp-10 hidden-md hidden-lg"></div>
    <h1 class="faux-h2">{{ '4 | Bürgen' }}</h1>

    <div class="row">
        <div class="col-xs-12 cancel-padding">
            <h2 class="faux-h3">{{ 'Persönliche Angaben ' }} <small class="pull-right">* Pflichtfeld</small></h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <p>Bitte geben Sie hier die persönlichen Informationen eines Bürgen für Ihren Kredit an - sie können selbst für den Kredit bürgen oder einen oder mehrere Drittbürgen benennen. Sollten Sie dritte Personen als Bürgen benennen, werden wir diese per Email kontaktieren. </p>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-12">
            <div class="radio-buttons">
                <input type="radio" class="hidden" value="male" name="warrantor_gender" id="warrantor_gender_m" required="required">
                <div class="custom-circle">
                    <span class="" id="select_warrantor_gender_m"></span> <!-- add class .selected when user clicks and an ID for TA -->
                </div>
                <label for="warrantor_gender_m" class="required"> {{ 'Herr' }}</label>
            </div>
            <div class="radio-buttons">
                <input type="radio" class="hidden" value="female" name="warrantor_gender" id="warrantor_gender_f" required="required">
                <div class="custom-circle">
                    <span class="" id="select_warrantor_gender_f"></span> <!-- add class .selected when user clicks and an ID for TA -->
                </div>
                <label for="warrantor_gender_f" class="required"> {{ 'Frau' }}</label>
            </div>
            <div class="clearfix"></div>
            <label for="warrantor_gender" class="error" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
        </div>
    </div><!-- end .row -->


    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="warrantor_first_name" class="required">{{ 'Vorname' }}</label>
                <!-- add class 'error' for the input to make the border red  when the alert is also present -->
                <input type="text" id="warrantor_first_name" class="form-control" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="warrantor_last_name" class="required">{{ 'Nachname' }}</label>
                <!-- add class 'error' for the input to make the border red  when the alert is also present -->
                <input type="text" id="warrantor_last_name" class="form-control" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="warrantor_birthday" class="required">{{ 'Geburtsdatum' }}</label>
                <input type="text" id="warrantor_birthday" class="form-control" placeholder="TT.MM.JJJJ" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="warrantor_surname_at_birth">{{ 'Geburtsname' }}</label>
                <input type="text" id="warrantor_surname_at_birth" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="required">Herkunftsstaatsangehörigkeit</label>
                <select class="selectpicker show-tick" data-width="100%">
                    <option value="">Deutschland.</option>
                    <option value="">-------------------</option>
                    <option value="">Afghanistan</option>
                </select>
                <label class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="required">Staatsangehörigkeit</label>
                <select class="selectpicker show-tick" data-width="100%">
                    <option value="">Deutschland.</option>
                    <option value="">-------------------</option>
                    <option value="">Afghanistan</option>
                </select>
                <label class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="required">Zweite Staatsangehörigkeit</label>
                <select class="selectpicker show-tick" data-width="100%">
                    <option value="">Deutschland.</option>
                    <option value="">-------------------</option>
                    <option value="">Afghanistan</option>
                </select>
                <label class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="required">Erwerbssituation</label>
                <select class="selectpicker show-tick" data-width="100%">
                    <option value="">Selbstständig</option>
                    <option value="">Angestellter Geschäftsführer</option>
                    <option value="">Angestellter</option>
                </select>
                <label class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="warrantor_city_of_birth" class="required">{{ 'Geburtsort' }}</label>
                <input type="text" id="warrantor_city_of_birth" class="form-control" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="required">Geburtsland</label>
                <select class="selectpicker show-tick" data-width="100%">
                    <option value="">Deutschland.</option>
                    <option value="">-------------------</option>
                    <option value="">Afghanistan</option>
                </select>
                <label class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 cancel-padding">
            <h2 class="faux-h3">{{ 'Kontaktdaten ' }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="warrantor_email" class="required">{{ 'Email' }}</label>
                <input type="email" id="warrantor_email" class="form-control" required="required">
                <label for="warrantor_email" class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="warrantor_cellphone" class="required">{{ 'Mobiltelefon' }}</label>
                <input type="text" id="warrantor_cellphone" class="form-control" required="required">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div><!-- end .row -->

    <div class="row">
        <div class="col-xs-12 cancel-padding">
            <h2 class="faux-h3">{{ 'Adresse ' }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <div class="form-group">
                <label for="warrantor_street" class="required">{{ 'Straße' }}</label>
                <input type="text" id="warrantor_street" class="form-control" required="required" maxlength="200">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-2">
            <div class="form-group">
                <label for="warrantor_street_number" class="required">{{ 'Nr' }}</label>
                <input type="text" id="warrantor_street_number" class="form-control" required="required" maxlength="10">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4">
            <div class="form-group">
                <label for="warrantor_postal_code" class="required">{{ 'PLZ' }}</label>
                <input type="text" id="warrantor_postal_code" class="form-control" required="required" maxlength="20">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8">
            <div class="form-group">
                <label for="warrantor_city" class="required">{{ 'Ort' }}</label>
                <input type="text" id="warrantor_city" class="form-control" required="required" maxlength="200">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label for="warrantor_resident_since" class="required">{{ 'Wohnhaft seit' }}</label>
                <input type="text" id="warrantor_resident_since" class="form-control" placeholder="TT.MM.JJJJ" required="required" maxlength="200">
                <label  class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 cancel-padding">
            <h2 class="faux-h3">{{ 'Persönliche Bürgschaft' }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="checkbox-buttons">
                    <input type="checkbox" class="hidden" value="" name="warrantor_type_scoring_confirmed" id="warrantor_type_scoring_confirmed">
                    <div class="custom-square">
                        <span class="fa" id="select_warrantor_scoring_confirmed"></span> <!-- add class 'fa-check' when the user clicks and an ID for TA -->
                    </div>
                    <label for="warrantor_type_scoring_confirmed" class="required">
                        {{ 'Hiermit erkläre ich mich bereit, im Bedarfsfall als Bürge eine selbstschuldnerische Bürgschaft für den beantragten Kredit zu übernehmen. In dieser Funktion willige ich ein, dass meine persönlichen Daten durch die SCHUFA verarbeitet werden können. Hinweis: Wenn Sie dieses Formular für eine dritte Person ausfüllen, wird Zencap von dieser Person separat eine Erlaubnis zur Verarbeitung persönlicher Daten durch die SCHUFA einholen.' }}
                    </label>
                    <label for="warrantor_type_scoring_confirmed" class="error hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                </div>

            </div>
        </div>
    </div>

</form>


