{% extends 'layout.html.twig' %}

{% block body %}

<div class="spacing">
    <form action="" method="post" role="form" class="form-register" id="register_borrower_form">
        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-md-8">
                    <h1>{{ 'Profil erstellen' }}</h1>
                </div>

                <div class="hidden-xs hidden-sm col-md-4">
                    <p class="text-right">
                        <a href="{{ path('login') }}"><i class="key-icon">p</i> <strong>Bereits registriert?</strong></a>
                    </p>
                </div>

            </div><!-- .row -->

            <div class="row">

                <div class="col-xs-12 col-md-8">

                    <div class="row">
                        <div class="col-xs-12 cancel-padding">
                            <h2 class="faux-h3">{{ 'Personliche Angaben' }} <small class="pull-right">* Pflichtfeld</small></h2>
                        </div>
                    </div><!-- end .row -->

                    <div class="row form-group">
                        <div class="col-xs-12">

                            {#<div class="radio-buttons">
                                <input type="radio" class="hidden" value="male" name="borrower_gender" id="borrower_gender_m" required="required">
                                <div class="custom-circle">
                                    <span></span> <!-- add class .selected when user clicks -->
                                </div>
                                <label for="borrower_gender_m" class="required"> {{ 'Herr' }}</label>
                            </div>
                            <div class="radio-buttons">
                                <input type="radio" class="hidden" value="female" name="borrower_gender" id="borrower_gender_f" required="required">
                                <div class="custom-circle">
                                    <span></span>
                                </div>
                                <label for="borrower_gender_f" class="required"> {{ 'Frau' }}</label>
                            </div>
                            <label for="borrower_gender" class="text-danger" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                        #}

                            <div class="radio-buttons" id="userlender_gender">
                                <label for="userlender_gender_0" class="enhanced-radio">
                                    <!-- add class 'filled' when the user clicks -->
                                    <i class="filled"></i></label>
                                <input type="radio" value="m" required="required" name="userlender[gender]" id="userlender_gender_0" class="ui-helper-hidden-accessible">
                                <label class="required" for="userlender_gender_0">Herr</label>
                                <label for="userlender_gender_1" class="enhanced-radio">
                                    <i></i></label>
                                <input type="radio" value="f" required="required" name="userlender[gender]" id="userlender_gender_1" class="ui-helper-hidden-accessible">
                                <label class="required" for="userlender_gender_1">Frau</label>
                                <label for="borrower_gender" class="text-danger" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                            </div>

                        </div>
                    </div><!-- end .row -->

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="borrower_first_name" class="required hidden-xs hidden-sm">{{ 'Vorname' }}</label>
                                <!-- add class 'error' for the input to make the border red  when the alert is also present -->
                                <input type="text" placeholder="Enter vorname" id="borrower_first_name" class="form-control" required="required">
                                <label for="borrower_first_name" class="text-danger" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="borrower_last_name" class="required hidden-xs hidden-sm">{{ 'Nachname' }}</label>
                                <!-- add class 'error' for the input to make the border red  when the alert is also present -->
                                <input type="text" placeholder="Enter nachname" id="borrower_last_name" class="form-control" required="required">
                                <label for="borrower_last_name" class="text-danger" role="alert hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                            </div>
                        </div>
                    </div><!-- end .row -->

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="borrower_company_name" class="required hidden-xs hidden-sm">{{ 'Firmenname' }}</label>
                                <input type="text" placeholder="Enter firmenname" id="borrower_company_name" class="form-control" required="required">
                                <label for="borrower_company_name" class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <label class="required hidden-xs hidden-sm">Rechtsform</label>
                            <div class="btn-group btn-block">
                                <button data-toggle="dropdown" class="form-control btn dropdown-toggle form-group" type="button" aria-expanded="false">
                                    <span class="pull-left">{{ 'Bitte wählen ...' }}</span>
                                    <span class="fa fa-chevron-down pull-right"></span>
                                </button>
                                <ul role="menu" class="dropdown-menu col-xs-12">
                                    <li><a href="#"><i class="fa fa-check pull-right"></i>{{ 'Bitte wählen ...' }}
                                        </a></li>
                                    <li><a href="#">{{ 'GmbH' }}</a></li>
                                    <li><a href="#">{{ 'UG' }}</a></li>
                                    <li><a href="#">{{ 'GmbH & Co. KG' }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- end .row -->

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-lg-12">
                            <div class="form-group">
                                <label for="borrower_cellphone" class="required hidden-xs hidden-sm">{{ 'Telefonnummer' }}</label>
                                <input type="tel" placeholder="Enter telefonnummer" required="required" id="borrower_cellphone" class="form-control">
                                <label  class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                            </div>
                        </div>
                    </div><!-- end .row -->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">

                                <div class="checkbox-buttons">
                                    <input type="checkbox" class="hidden" value="" name="borrower_revenue" id="borrower_revenue" required="required">
                                    <div class="custom-square">
                                        <span></span> <!-- add class .selected when user clicks -->
                                    </div>
                                    <label for="borrower_revenue" class="required">  {{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit' }}</label>
                                    <label for="borrower_revenue" class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                                </div>

                                <div class="checkbox-buttons">
                                    <input type="checkbox" class="hidden" value="" name="borrower_company_age" id="borrower_company_age" required="required">
                                    <div class="custom-square">
                                        <span></span>
                                    </div>
                                    <label for="borrower_company_age" class="required"> {{ 'Lorem ipsum dolor sit amet, consectetur adipiscing elit' }}</label>
                                    <label for="borrower_company_age" class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                                </div>

                            </div><!-- end .form-group -->
                        </div>
                    </div><!-- end .row -->

                    <div class="row">
                        <div class="col-xs-12 cancel-padding">
                            <h2 class="faux-h3">{{ 'Zugangsdaten' }}</h2>
                        </div>
                    </div><!-- end .row -->

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="borrower_email" class="required hidden-xs hidden-sm">{{ 'Email address' }}</label>
                                <input type="email" placeholder="Enter email" id="borrower_email" class="form-control" required="required">
                                <label for="borrower_email" class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-12 col-lg-12">
                            <div class="form-group">
                                <label for="borrower_password" class="required hidden-xs hidden-sm">{{ 'Password' }}</label>
                                <div class="input-group-pass">
                                    <input type="password" placeholder="Password" id="borrower_password" class="form-control" required="required">
                                    <label for="borrower_password" class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                                    <div class="input-icon-eye">
                                        <i class="fa fa-eye"></i>
                                        <span class="password-mask">anzeigen</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end .row -->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="checkbox">
                                    <label for="" class="enhanced-checkbox">
                                        <i class="fa fa-check"></i>
                                    </label>
                                    <input type="checkbox" value="" required="required" name="" id="" class="ui-helper-hidden-accessible">
                                    <label class="required" for="">Hiermit akzeptiere ich die <a target="_blank" href="/geschaeftsbedingungen-privatanleger-32.html">Nutzungsbedingungen</a></label>
                                </div>
                                <div class="checkbox">
                                    <label for="" class="enhanced-checkbox">
                                        <!-- add class 'fa-check' when the user clicks -->
                                        <i class="fa"></i>
                                    </label>
                                    <input type="checkbox" value="" required="required" name="" id="" class="ui-helper-hidden-accessible">
                                    <label class="required" for="">Ich willige in die Erhebung, Verarbeitung und Nutzung meiner personenbezogenen Daten, wie in der Datenschutzerklärung beschrieben, ein.</label>
                                </div>
                                <div class="checkbox">
                                    <label for="userlender_terms_and_conditions" class="enhanced-checkbox">
                                        <!-- add class 'fa-check' when the user clicks -->
                                        <i class="fa"></i>
                                    </label>
                                    <input type="checkbox" value="1" required="required" name="" id="userlender_terms_and_conditions" class="ui-helper-hidden-accessible">
                                    <label class="required" for="">
                                        Ich bin damit einverstanden, dass mich die Zencap Deutschland GmbH per E-Mail und SMS über weitere interessante Angebote informiert und hierfür meine obigen Angaben verwendet. (freiwillig)
                                    </label>
                                    <label for="" class="text-danger" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                                </div>
                            </div><!-- end .form-group -->


                            <div class="form-group">
                                <div class="checkbox-buttons">
                                    <input type="checkbox" class="hidden" value="" name="borrower_terms_and_conditions" id="borrower_terms_and_conditions" required="required">
                                    <div class="custom-square">
                                        <span></span> <!-- add class .selected when user clicks -->
                                    </div>
                                    <label for="borrower_terms_and_conditions" class="required">  {{ 'Hiermit akzeptiere ich die' }}
                                        <a target="_blank" href="{{ path('conditionsBorrower') }}">{{ 'Nutzungsbedingungen' }}</a></label>
                                    <label for="borrower_terms_and_conditions" class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                                </div>

                                <div class="checkbox-buttons">
                                    <input type="checkbox" class="hidden" value="" name="borrower_privacy" id="borrower_privacy" required="required">
                                    <div class="custom-square">
                                        <span></span>
                                    </div>
                                    <label for="borrower_privacy" class="required"> {{ 'Ich willige in die Erhebung, Verarbeitung und Nutzung meiner personenbezogenen Daten, wie in der' }}
                                        <a target="_blank" href="{{ path('privacy') }}">{{ 'Datenschutzerklärung' }}</a>
                                        {{ 'beschrieben, ein.' }}</label>
                                    <label for="borrower_privacy" class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                                </div>

                                <div class="checkbox-buttons">
                                    <input type="checkbox" class="hidden" value="" name="borrower_newsletter_subscription" id="borrower_newsletter_subscription">
                                    <div class="custom-square">
                                        <span class="fa fa-check"></span>
                                    </div>
                                    <label for="borrower_newsletter_subscription"> {{ 'Ich bin damit einverstanden, dass mich die Zencap Deutschland GmbH per E-Mail und SMS über weitere interessante Angebote informiert und hierfür meine obigen Angaben verwendet. (freiwillig)' }}</label>
                                </div>
                            </div><!-- end .form-group -->

                        </div>
                    </div><!-- end .row -->

                </div><!-- .col-xs-12 -->

            </div><!-- .row -->

        </div><!-- .container -->

        <div class="container-wrapper form-footer odd">
            <div class="container spacing">
                <div class="row">
                    <div class="col-xs-12 screen-align-btn">
                        <button class="btn btn-lg btn-brrwr" type="submit">{{ 'Weiter' }}</button>
                        <div class="desp-10"></div>
                        <a href="" class="text-muted" data-toggle="tooltip" data-original-title="Another one here too" data-placement="top"><i class="fa fa-lock"></i> Sichere Übertragung (SSL)</a>
                    </div>
                </div>
            </div>
        </div><!-- end .container-wrapper -->

        <div class="clearfix"></div>

    </form>

</div><!-- end .spacing -->

{% endblock body %}

{% block js %}
    {{ parent() }}

    <script>
        $(function(){
            // set translations
            var password_unhide = 'anzeigen'; // translate('global.password.unhide');
            var password_hide = 'verstecken';  // translate('global.password.hide');

            // switch password type
            $('.input-icon-eye').click(function(){
                if ( $('#borrower_password').attr('type') == 'password' ) {
                    $('#borrower_password').attr('type','text');
                    $(this).children('.password-mask').html(password_hide);
                } else {
                    $('#borrower_password').attr('type','password');
                    $(this).children('.password-mask').html(password_unhide);
                }
            });

        });

    </script>

{% endblock js %}