{% extends 'layout.html.twig' %}

{% block body %}

<div class="spacing">
    <form action="" method="post" role="form" class="form-register" id="register_lender_form">
        <div class="container">

            <div class="row">

                <div class="col-xs-12 col-md-7">
                    <h1 class="faux-h1">{{ 'Profil erstellen' }}</h1>
                </div>

                <div class="hidden-xs hidden-sm col-md-5">
                    <p class="text-right">
                        <a href="{{ path('institutional') }}"><i>&reg;</i> Sind Sie ein Unternehmen?</a>
                        <a href="{{ path('login') }}"><i>p</i> Bereits registriert?</a>
                    </p>
                </div>

            </div><!-- .row -->

            <div class="row">

                <div class="col-xs-12 col-md-8">

                    <div class="row add-negative-margin">
                        <div class="col-xs-12">
                            <h2 class="faux-h3">{{ 'Personliche Angaben' }} <small class="pull-right">* Pflichtfeld</small></h2>
                        </div>
                    </div><!-- end .row -->

                    <div class="row form-group">
                        <div class="col-xs-12">
                            <div class="radio-buttons">
                                <input type="radio" class="hidden" value="male" name="lender_gender" id="lender_gender_m" required="required">
                                <div class="custom-circle">
                                    <span></span> <!-- add class .selected when user clicks -->
                                </div>
                                <label for="lender_gender_m" class="required"> {{ 'Herr' }}</label>
                            </div>
                            <div class="radio-buttons">
                                <input type="radio" class="hidden" value="female" name="lender_gender" id="lender_gender_f" required="required">
                                <div class="custom-circle">
                                    <span></span>
                                </div>
                                <label for="lender_gender_f" class="required"> {{ 'Frau' }}</label>
                            </div>
                            <div class="clearfix"></div>
                            <label for="lender_gender" class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                        </div>
                    </div><!-- end .row -->

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="lender_first_name" class="required hidden-xs hidden-sm">{{ 'Vorname' }}</label>
                                <!-- add class 'error' for the input to make the border red  when the alert is also present -->
                                <input type="text" placeholder="Enter vorname" id="lender_first_name" class="form-control" required="required">
                                <label for="lender_first_name" class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="lender_last_name" class="required hidden-xs hidden-sm">{{ 'Nachname' }}</label>
                                <!-- add class 'error' for the input to make the border red  when the alert is also present -->
                                <input type="text" placeholder="Nachname" id="lender_last_name" class="form-control" required="required">
                                <label for="lender_last_name" class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                            </div>
                        </div>
                    </div><!-- end .row -->

                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group">
                                <label for="lender_cellphone" class="required hidden-xs hidden-sm">{{ 'Mobiltelefonnummer' }}</label>
                                <input type="text" placeholder="Mobiltelefonnummer" id="lender_cellphone" class="form-control" required="required">
                                <label for="lender_cellphone" class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                            </div>
                        </div>
                    </div><!-- end .row -->

                    <div class="row add-negative-margin">
                        <div class="col-xs-12">
                            <h2 class="faux-h3">{{ 'Zugangsdaten' }}</h2>
                        </div>
                    </div><!-- end .row -->

                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12">
                            <div class="form-group">
                                <label for="lender_email" class="required hidden-xs hidden-sm">{{ 'Email address' }}</label>
                                <input type="email" placeholder="Email" id="lender_email" class="form-control" required="required">
                                <label for="lender_email" class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-12">
                            <div class="form-group">
                                <label for="lender_password" class="required hidden-xs hidden-sm">{{ 'Password' }}</label>
                                <input type="password" placeholder="Password" id="lender_password" class="form-control" required="required">
                                <label for="lender_password" class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                            </div>
                        </div>
                    </div><!-- end .row -->

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="checkbox-buttons">
                                    <input type="checkbox" class="hidden" value="" name="lender_terms_and_conditions" id="lender_terms_and_conditions" required="required">
                                    <div class="custom-square">
                                        <span></span> <!-- add class .selected when user clicks -->
                                    </div>
                                    <label for="lender_terms_and_conditions" class="required">  {{ 'Hiermit akzeptiere ich die' }}
                                        <a target="_blank" href="{{ path('conditionsInvestor') }}">{{ 'Nutzungsbedingungen' }}</a></label>
                                    <label for="lender_terms_and_conditions" class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                                </div>
                                <div class="checkbox-buttons">
                                    <input type="checkbox" class="hidden" value="" name="lender_privacy" id="lender_privacy" required="required">
                                    <div class="custom-square">
                                        <span></span>
                                    </div>
                                    <label for="lender_privacy" class="required"> {{ 'Ich willige in die Erhebung, Verarbeitung und Nutzung meiner personenbezogenen Daten, wie in der' }}
                                        <a target="_blank" href="{{ path('privacy') }}">{{ 'Datenschutzerklärung' }}</a>
                                        {{ 'beschrieben, ein.' }}</label>
                                    <label for="lender_privacy" class="text-danger hidden" role="alert">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
                                </div>
                                <div class="checkbox-buttons">
                                    <input type="checkbox" class="hidden" value="" name="lender_newsletter_subscription" id="lender_newsletter_subscription">
                                    <div class="custom-square">
                                        <span class="fa fa-check"></span>
                                    </div>
                                    <label for="lender_newsletter_subscription"> {{ 'Ich bin damit einverstanden, dass mich die Zencap Deutschland GmbH per E-Mail und SMS über weitere interessante Angebote informiert und hierfür meine obigen Angaben verwendet. (freiwillig)' }}</label>
                                </div>
                            </div>
                        </div>
                    </div><!-- end .row -->

                </div><!-- end .col-xs-12 -->
            </div>
        </div><!-- end .container -->

        <div class="container-wrapper form-footer odd">
            <div class="container spacing">
                <div class="row">
                    <div class="col-xs-12 screen-align-btn">
                        <button class="btn btn-lg btn-nvstr" type="submit">{{ 'Weiter' }}</button>
                        <div class="desp-10"></div>
                        <a href="" class="text-muted" data-toggle="tooltip" data-original-title="Another one here too" data-placement="top"><i class="fa fa-lock"></i> Sichere Übertragung (SSL)</a>
                    </div>
                </div>
            </div>
        </div><!-- end .container-wrapper -->

        <div class="clearfix"></div>

    </form>

</div><!-- end .spacing -->

{% endblock body %}