<nav class="main">
    <ul class="list-unstyled main-menu">
        <li class="no-bg no-border"><a href="javascript:void(0)" class="nav-close"><i class="fa fa-lg fa-caret-left"></i> Züruck</a></li>
        <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ path('invest') }}">Anlegen</a></li>
        <li><a href="{{ path('active_biddings') }}">Aktive Gebote</a></li>
        <li><a href="{{ path('portfolio') }}">Portofolio</a></li>
        <li><a href="{{ path('lenderUpgradeThreeSteps') }}">Premium Account</a></li>
        <li><a href="javascript:void(0)">Hilfe</a></li>
    </ul>

    <ul class="list-unstyled main-menu bottom-menu">
        <li><a href="{{ path('profile') }}">Mein Profil</a></li>
        <li class="no-border"><a href="javascript:void(0)">Logout</a></li>
    </ul>
</nav>

<div class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <img src="/bundles/intlendweblayout/frontend/images/logo.png" alt="Zencap" />
    </a>
    <div class="navbar-header pull-right">
        <a id="nav-expander" class="nav-expander fixed">
            {#MENU#} &nbsp;<i class="fa fa-bars fa-lg"></i>
        </a>
    </div>
</div>

