{#
<nav class="main">
    <ul class="list-unstyled main-menu">

        <!--Include your navigation here-->
        <li class="no-bg no-border"><a href="javascript:void(0)" class="nav-close"><i class="fa fa-lg fa-caret-left"></i> Züruck</a></li>
        <li><a href="{{ path('cockpit') }}">Mein Kredit</a></li>
        <li><a href="{{ path('payments_overview') }}">Payment plans</a></li>
        <li><a href="#">Hilfe</a></li>
        <li>Loan request</li>
        <li><a href="">1 - Unternehmensprofil</a></li>
        <li><a href="">2 - Kreditprojektdetails</a></li>
        <li><a href="">3 - Zeichnungsberechtigte</a></li>
        <li><a href="">4 - Bürgen</a></li>
        <li><a href="">5 - Upload der Dokumente</a></li>
        <li><a href="">6 - Prüfen & Abschicken</a></li>

    </ul>

    <ul class="list-unstyled main-menu bottom-menu">
        <li><a href="#">Vorname Nachname</a></li>
        <li><a href="{{ path('profile') }}">Mein Profil</a></li>
        <li class="no-border"><a href="javascript:void(0)">Logout</a></li>
    </ul>
</nav>

<div class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="{{ path('homepage') }}">
        <img src="/bundles/intlendweblayout/frontend/images/logo.png" alt="Zencap" />
    </a>
    <div class="navbar-header pull-right">
        <a id="nav-expander" class="nav-expander fixed">
            &#123;&#35;MENU&#35;&#125; &nbsp;<i class="fa fa-bars fa-lg"></i>
        </a>
    </div>
</div>
#}



<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixed-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img src="/bundles/intlendweblayout/frontend/images/logo.png" alt="Zencap" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="fixed-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('cockpit') }}">Mein Kredit</a></li>
                <li><a href="{{ path('payments_overview') }}">Payment plans</a></li>
                <li><a href="#">Hilfe</a></li>
                <li><a href="#">Loan request</a></li>
                <li><a href="">1 - Unternehmensprofil</a></li>
                <li><a href="">2 - Kreditprojektdetails</a></li>
                <li><a href="">3 - Zeichnungsberechtigte</a></li>
                <li><a href="">4 - Bürgen</a></li>
                <li><a href="">5 - Upload der Dokumente</a></li>
                <li><a href="">6 - Prüfen & Abschicken</a></li>
            </ul>

            <ul class="nav navbar-nav bottom-menu">
                <li><a href="#">Vorname Nachname</a></li>
                <li><a href="{{ path('profile') }}">Mein Profil</a></li>
                <li class="no-border"><a href="javascript:void(0)">Logout</a></li>
            </ul>

            {#<ul class="nav navbar-nav">
            <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="fa fa-small fa-caret-down"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
            </ul>#}
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


