<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixed-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">
                <img src="/bundles/intlendweblayout/frontend/images/logo.png" alt="Zencap" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="fixed-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('login') }}">Anmelden/Registrieren </a></li>
                <li><a href="#">Hilfe </a></li>
                <li><a href="#">Ihr Firmenkredit</a> </li>
                <li><a href="{{ path('borrowerGettingStarted') }}">Kredit beantragen </a></li>
                <li><a href="{{ path('ratesFeesBorrower') }}">Leitfaden </a></li>
                <li><a href="#">Häufige Fragen </a></li>

                <li><a href="#">Ihre Investition</a> </li>
                <li><a href="{{ path('lenderGettingStarted') }}">Geld anlegen </a></li>
                <li><a href="{{ path('ratesFeesInvestor') }}">Renditen &amp; Gebühren </a></li>
                <li><a href="#">Häufige Fragen </a></li>

                <li><a href="{{ path('creditProjects') }}">Kreditprojekte </a></li>
                <li><a href="{{ path('howItWorks') }}">So Funktioniert's </a></li>
                <li><a href="{{ path('blog') }}">Blog </a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


