<!--
==========================================================================
Header visible for desktop  ( hidden for phones and tablets )
========================================================================== -->

<div class="hidden-xs hidden-sm">

    {# must include the cookie bar #}
    {#{% include '_partials/headers/cookiesWarning.html.twig' %}#}

    <header>
        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <a href="{{ path('homepage') }}">
                        <img src="/bundles/intlendweblayout/frontend/images/logo.png" alt="Zencap"/>
                    </a>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline metanav text-right">
                        <li><a href="{{ path('login') }}">Anmelden/Registrieren </a></li>
                        <li><a href="">Hilfe</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 header-box-container">
                    <div class="site-menu">
                        <ul class="dropdown list-inline">
                            <li>
                                <a href="{{ path('borrowerGettingStarted') }}">Ihr Firmenkredit</a>
                                <ul class="dropdown submenu-hover list-unstyled">
                                    <li><a href="{{ path('borrowerGettingStarted') }}">Kredit beantragen</a></li>
                                    <li><a href="{{ path('ratesFeesBorrower') }}">Leitfaden</a></li>
                                    <li><a href="">Häufige Fragen</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ path('lenderGettingStarted') }}">Ihre Investition</a>
                                <ul class="dropdown submenu-hover list-unstyled">
                                    <li><a href="{{ path('lenderGettingStarted') }}">Geld anlegen</a></li>
                                    <li><a href="{{ path('ratesFeesInvestor') }}">Renditen &amp; Gebühren</a></li>
                                    <li><a href="">Häufige Fragen</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="{{ path('creditProjects') }}">Kreditprojekte</a>
                            </li>
                            <li>
                                <a href="{{ path('howItWorks') }}">So funktioniert's</a>
                            </li>
                            <li>
                                <a href="{{ path('blog') }}">Blog</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-box">
                        <div class="hotline-container pull-right">
                            <ul class="list-unstyled hotline">
                                <li>Kostenloser Kundenservice!</li>
                                <li class="large"><i class="icon-phone"></i><strong> 0800 - 724 08 14</strong></li>
                                <li>(Mo-Fr, 9-18 Uhr)</li>
                            </ul>
                            <a class="pull-left"
                               href="https://d1x3gb5zl465n8.cloudfront.net/de/tuv/z2014-1214_zencap%20deutschland_gmbh.pdf"
                               target="_blank">
                                <img
                                    src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlendweblayout/frontend/images/tuv.png"
                                    alt="Zertifikat TÜV">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end .container -->

        <div class="white-nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="site-sub-menu">
                            <ul class="investorSubmenu">{# for borrower must be this class => borrowerSubmenu #}
                                <li class="sub-selected">
                                    <a href="{{ path('lenderGettingStarted') }}">Geld anlegen</a>
                                </li>
                                <li>
                                    <a href="{{ path('ratesFeesInvestor') }}">Renditen &amp; Gebühren</a>
                                </li>
                                <li>
                                    <a href="">Häufige Fragen</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end .white-nav -->

    </header>
</div><!-- end .hidden-xs hidden-sm hidden-md -->

<div class="desp-51 hidden-md hidden-lg"></div>

<!--
==========================================================================
Header visible for phones and tablets  ( hidden for desktop )
========================================================================== -->

<div class="hidden-md hidden-lg">
    {% include '_partials/headers/header-mobile.html.twig' %}
</div>